<!--<section class="main-slider">
    <div class="slider">
        <ul class="slides">
            <li *ngFor="let slider of sliders">
                <img class="img-full" [src]="slider['image']">  random image 
                <div class="caption left-align">
                    <h3>{{slider['title']}}</h3>
                    <span class="line"></span>
                    <h5 class="light grey-text text-lighten-3">{{slider['description']}}</h5>
                    <a class="waves-effect fabivo-btn-2 btn" [routerLink]="['/']">Shop now</a>
                </div>
            </li>

        </ul>
    </div>


</section>
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 pad-rg-5">
                <div class="category-bx">
                    <a [routerLink]="['./category',block_1.slug]">
                        <img class="img-full" src="{{block_1.image}}"/>
                    </a>
                    <div class="category-bx-on">
                        <h3>{{block_1.title}}</h3>
                        <h4> {{block_1.description}}</h4>
                        <a [routerLink]="['./category',block_1.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                    </div>
                </div>
                <div class="category-bx">
                    <a [routerLink]="['./category',block_2.slug]">
                        <img class="img-full" src="{{block_2.image}}"/> 
                    </a>
                    <div class="category-bx-on on-2">
                        <h3>{{block_2.title}}</h3>
                        <h4> {{block_2.description}}</h4>
                        <a [routerLink]="['./category',block_2.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                    </div>
                </div> 
            </div>
            <div class="col s12 m5">
                <div class="category-bx">
                    <a [routerLink]="['./category',block_3.slug]">
                        <img class="img-full" src="{{block_3.image}}"/>
                    </a>
                    <div class="category-bx-on on-3">
                        <h3>{{block_3.title}}</h3>
                        <h4>{{block_3.description}}</h4>
                        <a [routerLink]="['./category',block_3.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                    </div>
                </div>
                <div class="category-bx">
                    <a [routerLink]="['./category',block_4.slug]">
                        <img class="img-full" src="{{block_4.image}}"/>
                    </a>
                    <div class="category-bx-on">
                        <h3>{{block_4.title}}</h3>
                        <h4>{{block_4.description}}</h4>
                        <a [routerLink]="['./category',block_4.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advertisement">
    <div class="container">
        <div class="row">
            <div class="col m12 s12">
                <div class="advertisement-bx">
                    <img class="responsive-img" src="public/img/banner.png"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col m6 s12 pad-rg-8">
                <div class="category-bx">
                    <a [routerLink]="['./category',block_5.slug]">
                        <img class="img-full" src="{{block_5.image}}"/>
                    </a>  
                    <div class="category-bx-on on-4">
                        <a [routerLink]="['./category',block_5.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                        <h3>{{block_5.title}}</h3>
                    </div>
                </div>

            </div>
            <div class="col m6 s12 pad-lf-8">
                <div class="category-bx">
                    <a [routerLink]="['./category',block_6.slug]">
                        <img class="img-full" src="{{block_6.image}}"/>
                    </a>
                    <div class="category-bx-on on-4">
                        <a [routerLink]="['./category',block_6.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                        <h3>{{block_6.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="sign-section">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div col m12>
                    <div class="sign-contant">
                        <h1>For All Collection</h1>
                        <h2>SAVE 70% OFF SALE</h2>
                        <h4>Be the first to hear about new styles and offers and see how you’ve helped.</h4>
                    </div>
                    <div class="sign-bx">
                    <form  name="newsletter" id="newsletter" (ngSubmit)="newsletter.form.valid && newslattersaved()"  #newsletter="ngForm" novalidate>
                        <div class="input-field">          
                            <input id="search" placeholder="Your Email Address" required="" type="search" name='email_news' [(ngModel)]="newslatter.email_news" #email_news="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <button class="waves-effect fabivo-btn btn" type="submit">Sign Up</button>
                        </div>
                         <div *ngIf="newsletter.submitted && email_news.errors && email_news.errors.required" class="help-block err-msg">The email field is required.</div>
                            <div *ngIf="newsletter.submitted && email_news.errors && email_news.errors.pattern" class="help-block err-msg"> Email is invalid.</div>
                           </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col m6 s12 pad-rg-8">
                <div class="category-bx store-bx-img">  
                    <img class="img-full" src="public/img/store-banner.png"/>
                    <div class="store-bx">
                        <h4>Download Our Mobile App</h4>
                        <a class="aap-store waves-effect waves-light" href="#"></a>
                        <a class="play-store waves-effect waves-light" href="#"></a>               
                     </div>
                </div>
                <div class="category-bx">
                    <a [routerLink]="['./category',block_7.slug]">
                        <img class="img-full" src="{{block_7.image}}"/>
                    </a>
                </div>
            </div>
            <div class="col m6 s12 pad-lf-8">
                <div class="category-bx">
                    <a [routerLink]="['./category',block_8.slug]">
                        <img class="img-full" src="{{block_8.image}}"/>
                    </a> 
                    <div class="category-bx-on on-5">
                        <h3>{{block_8.title}}</h3>
                        <h4>{{block_8.description}}</h4>
                        <a [routerLink]="['./category',block_8.slug]" class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="main-slider">
   <div class="demo-cont"> 
  <!-- slider start -->
  <div class="fnc-slider example-slider">
    <div class="fnc-slider__slides"> 
      <!-- slide start -->
      <div class="fnc-slide m--active-slide">
        <div class="fnc-slide__inner">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
              <source src="public/videos/Aritha_altiplano_10sec_boucle.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <!-- slide end --> 
      <!-- slide start -->
      <div class="fnc-slide">
        <div class="fnc-slide__inner">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
              <source src="public/videos/Sunlight_Journey_HO_Slider.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <!-- slide end --> 
      <!-- slide start -->
      <div class="fnc-slide">
        <div class="fnc-slide__inner">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
              <source src="public/videos/Possesssion2017_Actress_10sec_v2_1280_720-2.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <!-- slide end --> 
      <!-- slide start -->
      <div class="fnc-slide">
        <div class="fnc-slide__inner">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
              <source src="public/videos/Sunlight_Journey_HO_Slider.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <!-- slide end --> 
      <!-- slide start -->
      <div class="fnc-slide">
        <div class="fnc-slide__inner">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
              <source src="public/videos/Possesssion2017_Actress_10sec_v2_1280_720-2.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <!-- slide end --> 
    </div>
    <nav class="fnc-nav">
      <div class="fnc-nav__bgs">
        <div class="fnc-nav__bg m--active-nav-bg"></div>
        <div class="fnc-nav__bg"></div>
        <div class="fnc-nav__bg"></div>
        <div class="fnc-nav__bg"></div>
        <div class="fnc-nav__bg"></div> 
      </div>
      <div class="fnc-nav__controls">
        <button class="fnc-nav__control">
        <h3>Sunlight Journey</h3>
        <p>The scenic beauty of the Amalfi coast</p>
        <span class="fnc-nav__control-progress"></span> </button>
        <button class="fnc-nav__control">
        <h3>Altiplano watches</h3>
        <p>60 years of ultimate elegance</p>
        <span class="fnc-nav__control-progress"></span> </button>
        <button class="fnc-nav__control">
        <h3>Possession</h3>
        <p>Turn and the world is yours</p>
        <span class="fnc-nav__control-progress"></span> </button>
        <button class="fnc-nav__control">
        <h3>Piaget Magazine</h3>
        <p>Creating moment of Radiance</p>
        <span class="fnc-nav__control-progress"></span> </button>
        <button class="fnc-nav__control">
        <h3>Altiplano watches</h3>
        <p>60 years of ultimate elegance</p>
        <span class="fnc-nav__control-progress"></span> </button>
      </div>
    </nav>
  </div>
  <!-- slider end --> 
</div>
</section>

<section class="category">
  <div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="category-bx">
                <a [routerLink]="['./category',block_1.slug]"> 
                    <img class="img-full" src="{{block_1.image}}" alt=""/> 
                </a>
                <div class="category-bx-on">
                    <h3>{{block_1.title}}</h3>
                    <h4>{{block_1.title_2}}</h4>
                    <h5>{{block_1.title_3}}</h5>
                    <p [innerHTML]="block_1.description"></p>
                    <a [routerLink]="['./category',block_1.slug]" class="waves-effect fabivo-btn-2 btn shop-btn">Shop now!</a> 
                </div>
            </div>
        </div>
        
        <div class="col s12 m4">
            <div class="mid category-bx"> 
                <a [routerLink]="['./category',block_2.slug]"> 
                    <img class="img-full" src="{{block_2.image}}" alt=""/> 
                </a>
                <div class="category-bx-on on-2">
                    <h3>{{block_2.title}}</h3>
                    <h4>{{block_2.title_2}}</h4>
                    <a [routerLink]="['./category',block_2.slug]" class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
            </div>
            <div class="mid category-bx">
                <a [routerLink]="['./category',block_3.slug]"> 
                    <img class="img-full" src="{{block_3.image}}" alt=""/> 
                </a>
                <div class="category-bx-on on-3">
                    <h3>{{block_3.title}}</h3>
                    <h4>{{block_3.title_2}}</h4>
                    <a [routerLink]="['./category',block_3.slug]" class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
            </div>
        </div>
        
        <div class="col s12 m4">
            <div class="category-bx"> 
                <a [routerLink]="['./category',block_4.slug]"> 
                    <img class="img-full" src="{{block_4.image}}" alt=""/> 
                </a>
                <div class="category-bx-on on-4">
                    <h3>{{block_4.title}}</h3>
                    <h4>{{block_4.title_2}}</h4>
                    <h5>{{block_4.title_3}}</h5>
                </div>
                <div class="on-4-shop">
                    <a [routerLink]="['./category',block_4.slug]" class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="product-slider">
  <div class="product-bg">
    <div id="main" role="main">
      <div class="flexslider">
        <ul class="slides">
          <li> <img src="public/img/center_bg.png" alt="" />
            <div class="product-module-content">
              <div class="row">
                <div class="col s12 m6">
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="slider-content">
                    <div class="Collec-text">
                      <h2>Swanky Collections</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus
                        debitis architecto, vel facere quis nisi repudiandae. Consectetur adipisicing.</p>
                      <a class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li> <img src="public/img/center_bg.png" alt="" />
            <div class="product-module-content">
              <div class="row">
                <div class="col s12 m6">
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="slider-content">
                    <div class="Collec-text">
                      <h2>Swanky Collections</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus
                        debitis architecto, vel facere quis nisi repudiandae. Consectetur adipisicing.</p>
                      <a class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li> <img src="public/img/center_bg.png" alt="" />
            <div class="product-module-content">
              <div class="row">
                <div class="col s12 m6">
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="slider-content">
                    <div class="Collec-text">
                      <h2>Swanky Collections</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus
                        debitis architecto, vel facere quis nisi repudiandae. Consectetur adipisicing.</p>
                      <a class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li> <img src="public/img/center_bg.png" alt="" />
            <div class="product-module-content">
              <div class="row">
                <div class="col s12 m6">
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-list-item">
                    <div class="product-item"> <a href=""> <img src="public/img/bracelets_large-200x200.jpg" alt=""/> </a> </div>
                    <div class="product-item-content">
                      <h3>Bracelets</h3>
                      <div class="price">$75.00</div>
                    </div>
                    <div class="item-product">
                      <div class="hover-field">
                        <div class="midle">
                          <div class="rotate-45">
                            <div class="btn-share">
                              <div class="quick-view"> <a href="" class="animat-icon" title="view"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-share">
                              <div class="heart"> <a href="" class="animat-icon" title="Compare"> <i class="fa fa-heart" aria-hidden="true"></i> </a> </div>
                            </div>
                            <div class="btn-share">
                              <div class="add-to"><a href="#" class="animat-icon" title="Compare"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="slider-content">
                    <div class="Collec-text">
                      <h2>Swanky Collections</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus
                        debitis architecto, vel facere quis nisi repudiandae. Consectetur adipisicing.</p>
                      <a class="waves-effect fabivo-btn-2 btn shop-btn">Shop now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col m12 s12">
        <div class="news_letter">
          <div class="col m6 bord">
            <p>SIGN UP FOR NEWSLETTER</p>
          </div>
          <div class="col m6">
            <div class="sign-bx">
              <form id="newsletter" name="newsletter"  (ngSubmit)="newsletter.form.valid && newslattersaved()"  #newsletter="ngForm" novalidate class="ng-pristine ng-invalid ng-touched">
                <div class="input-field">
                  <input id="search" name="email_news" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="newslatter.email_news" #email_news="ngModel" placeholder="Your Email Address" required class="ng-pristine ng-invalid ng-touched" type="search">
                  <i aria-hidden="true" class="fa fa-envelope"></i> 
                </div>
                <button type="submit" class="waves-effect fabivo-btn btn news-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                <div *ngIf="newsletter.submitted && email_news.errors && email_news.errors.required" class="help-block err-msg">The email field is required.</div>
                <div *ngIf="newsletter.submitted && email_news.errors && email_news.errors.pattern" class="help-block err-msg"> Email is invalid.</div>
              </form>
            </div>
          </div>
          <div class="ring"><img src="public/img/ringbg.png" alt="ring_image"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>