<div class="col m8 s12">

    <div  *ngIf="enable_wallet "  class=""> 
        <div class="fill-form fabivo_wallet"> 
            <div class="heading">
                <h5>fabivo wallet</h5>
            </div>
            <div>

                <p class="wallet-balance">
                    <input [(ngModel)]="is_wallet"  type="checkbox" class="filled-in" id="filled-in-box" checked="{{(is_wallet)?checked:''}}" />
                    <label for="filled-in-box">Use Fabivo Wallet (<span *ngIf="is_wallet==1" [innerHTML]="wallet['remaining_balance_rs']"></span><span *ngIf="is_wallet==0" [innerHTML]="wallet['wallet']"></span>)</label>
                </p>
            </div>
            <div *ngIf="wallet['after_wallet_pay']==0 && is_wallet==1" class='wallet_box_head'>

                <div class="row">
                    <div class="col m3"><div class="wallet_box">
                            <p>Fabivo Wallet</p>
                            <p class="show_price" [innerHTML]="wallet['wallet']" ></p>

                        </div></div>
                    <div class="col m1"><span class="minus_sign"><i class="fa fa-minus" aria-hidden="true"></i>
                        </span></div>
                    <div class="col m3"><div class="wallet_box"> <p>Payment to be made</p>
                            <p class="show_price" [innerHTML]="carts['payble_amount']" ></p>
                        </div>
                    </div>
                    <div class="col m5"> <a (click)="paymentConfirm()"  class="btn waves-effect fabivo-btn"  href="javascript:void(0);">
                            PAY NOW
                        </a></div>

                </div>
            </div>
            <div *ngIf="wallet['after_wallet_pay']>0 && is_wallet==1" class='wallet_box_head'>

                <div class="row">
                    <div class="col m3">
                        <div class="wallet_box">
                            <p>Payment to be made</p>
                            <p class="show_price" [innerHTML]="carts['payble_amount']" ></p>
                        </div>
                    </div>

                    <div class="col m1"><span class="minus_sign"><i class="fa fa-minus" aria-hidden="true"></i>
                        </span></div>
                    <div class="col m3"><div class="wallet_box">
                            <p>
                                Money in Your Fabivo Wallet</p>
                            <p class="show_price" [innerHTML]="wallet['wallet']" ></p>


                        </div>
                    </div>

                    <div class="col m1"><span class="minus_sign"><i class="fa fa-equal" aria-hidden="true">=</i>
                        </span></div>
                    <div class="col m4"> 
                        <div class="wallet_box"><p>Select an option to pay balance</p> </div>
                        <p class="show_price" [innerHTML]="wallet['after_wallet_pay_rs']" ></p>
                    </div>

                </div>
            </div>

        </div>

    </div>



    <div [class.disabled]="enable_wallet==1 && is_wallet==1 && wallet['after_wallet_pay']==0" class=""> 
        <div class="fill-form"> 
            <div class="heading">
                <h5>PAYMENT DETAILS</h5>
            </div>

            <div class="fill-deatils fill-deatils-bx">
                <div class="row">
                    <div class="tab-div">

                        <div class="col m4">
                            <ul class="tabs">
                                <li *ngIf="enable_payu" [class.active]="type == 'PAYU'" (click)="setPaymentType('PAYU')" class="tab"><a href="javascript:void(0);">Credit/Debit Card</a></li>
                                <li *ngIf="enable_payu" [class.active]="type == 'PayUmoney'" (click)="setPaymentType('PayUmoney')" class="tab"><a href="javascript:void(0);">PayUmoney</a></li>
                                <li *ngIf="enable_paytm" [class.active]="type == 'PAYTM'" (click)="setPaymentType('PAYTM')" class="tab"><a href="javascript:void(0);" >Paytm</a></li>
                                <li *ngIf="enable_cod ==1 && is_wallet==0" [class.active]="type == 'COD'" (click)="setPaymentType('COD')" class="tab"><a href="javascript:void(0);" >Cash on Delivery</a></li>
                            </ul>
                        </div>

                        <div class="col m8 tab-details">                        
                            <div *ngIf="enable_payu" id="deatils1" class="col s12" [hidden]="type != 'PAYU'">



                            </div> 
                            <div *ngIf="enable_payu" id="deatils1" class="col s12 center-text" [hidden]="type != 'PayUmoney'">
                                <img class="img-responsive" src="public/img/payumoney-logo.png">
                                <div [innerHTML]="settings['CONFIG_PAYUMONEY_DESCRIPTION']"></div>


                            </div>

                            <div *ngIf="enable_paytm" id="deatils2" class="col s12 center-text" [hidden]="type != 'PAYTM'">
                                <img class="img-responsive" src="public/img/paytm-logo.png">
                                <div class="montlight">       <div [innerHTML]="settings['CONFIG_PAYTM_DESCRIPTION']"></div></div>

                            </div>


                            <div *ngIf="enable_cod==1 && is_wallet==0"  id="deatils3" class="col s12 center-text" [hidden]="type != 'COD'" >
                                <div [innerHTML]="settings['CONFIG_COD_DESCRIPTION']"></div>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="enable_payu">
                        <form action="{{payu['redirect_url']}}" id='payuForm'  method="post" name="f2" class="fill-deatils">


                            <input  *ngFor="let payudata of payu['data']" type="hidden" name="{{payudata['name']}}" value="{{payudata['value']}}">


                        </form>
                    </div>
                    <div *ngIf="enable_payu">
                        <form action="{{PayUmoney['redirect_url']}}" id='PayUmoneyForm'  method="post" name="f2" class="fill-deatils">


                            <input  *ngFor="let payumdata of PayUmoney['data']" type="hidden" name="{{payumdata['name']}}" value="{{payumdata['value']}}">


                        </form>
                    </div>
                    <div *ngIf="enable_paytm">
                        <form action="{{paytm['redirect_url']}}" id='paytmform'  method="post" name="f1">


                                    <input  *ngFor="let paytmdata of paytm['data']" type="hidden" name="{{paytmdata['name']}}" value="{{paytmdata['value']}}">
                                 
                        </form>
                    </div>

                    <div class="accordion-div">
                        <ul class="collapsible collapsible-tab" data-collapsible="accordion">
                                
                            <li *ngIf="enable_payu">
                                <div class="collapsible-header" [class.payment_active]="type == 'PAYU'" (click)="setPaymentType('PAYU')">Credit/Debit Card</div>
                                <div class="collapsible-body">

                                    <div [innerHTML]="settings['CONFIG_PAYU_DESCRIPTION']"></div>

                                </div>
                            </li>
                            <li *ngIf="enable_payu">
                                <div class="collapsible-header" [class.payment_active]="type == 'PayUmoney'" (click)="setPaymentType('PayUmoney')">PayUmoney</div>
                                <div class="collapsible-body">
                                    <img class="img-responsive" src="public/img/payumoney-logo.png">
                                    <div [innerHTML]="settings['CONFIG_PAYUMONEY_DESCRIPTION']"></div>


                                </div>
                            </li>
                            <li *ngIf="enable_paytm">
                                <div class="collapsible-header" [class.payment_active]="type == 'PAYTM'" (click)="setPaymentType('PAYTM')">Paytm</div>
                                <div class="collapsible-body">

                                    <img class="img-responsive" src="public/img/paytm-logo.png">
                                    <div class="montlight">       <div [innerHTML]="settings['CONFIG_PAYTM_DESCRIPTION']"></div></div>


                                </div>
                            </li>
                            <li *ngIf="enable_cod==1 && is_wallet==0">
                                <div class="collapsible-header" [class.payment_active]="type == 'COD'" (click)="setPaymentType('COD')">Cash on Delivery</div>
                                <div class="collapsible-body"><div [innerHTML]="settings['CONFIG_COD_DESCRIPTION']"></div></div>
                            </li>
                        </ul>
                    </div>




                    <div class="col m12 details-subit-bx">



                        <span *ngIf="wallet['after_wallet_pay']>0 && is_wallet==1"><b>Payable Amount <span [innerHTML]="wallet['after_wallet_pay_rs']"></span></b></span>

                        <span *ngIf="is_wallet==0"><b>Payable Amount <span [innerHTML]="type != 'COD'?carts['payble_amount']:carts['cod_payble_amount']"></span></b></span>



                        <a (click)="paymentConfirm()"  class="btn waves-effect fabivo-btn"  href="javascript:void(0);">
                            CONFIRM ORDER
                        </a>
                        <p [hidden]="type == 'COD' && carts['enable_cashback']==1" >
                            <b>You'll receive <span [innerHTML]="carts['cash_back_amount']"></span> cashback in Fabivo wallet!</b>
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_otp_cod" class="modal login-bx">
    <div  class="container">
        <div class="row">
            <div class="col s12">
                <form class="login-form" name="verified-form" id="verified_number" (ngSubmit)="verified_number.form.valid && submitOtp()"  #verified_number="ngForm" novalidate>
                      <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close" (click)="close_model('modal_otp_cod1')"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Verify Mobile Number</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>OTP sent to {{phone_number}}. Enter it below to verify.<p>
                                <input id="otp" type="text" name='otp' [(ngModel)]="number_model.otp" #otp="ngModel" required  pattern="^[0-9]{6}$" >
                            <div *ngIf="verified_number.submitted && otp.errors && otp.errors.required" class="help-block err-msg">The Otp field is required.</div>
                            <div *ngIf="verified_number.submitted && otp.errors && otp.errors.pattern" class="help-block err-msg">Enter 6 digit OTP.</div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 login-btn">
                            <button [disabled]="loading" class="btn waves-effect fabivo-btn">VERIFY MOBILE NUMBER</button>
                            <a  class="btn waves-effect fabivo-btn" (click)="resendOtp()">Resend Otp</a>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>