/**  loader css*/

    .loading-cntant {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    text-align: center;
    display: table;
    z-index: 99999;
}
.loader {
    margin: auto;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 10px solid rgba(255, 255, 255, 0.70);
    border-right: 10px solid rgba(255, 255, 255, 0.70);
    border-bottom: 10px solid rgba(255, 255, 255, 0.70);
    border-left: 10px solid #245571  ;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 12em;
    height: 12em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.error{color:#f36a5a;}
.data_not_found{text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}
.fa{
       padding-left: 2px;
       padding-right: 2px;
}
.box-header h3{
    margin:0px;
}
 .required_label:after{ 
        content:'*'; 
        color:red; 
        padding-left:5px;
    }
    .autocomplete{

        width: 100%;
    }
.form-radio{

    display: block;
    
    position: relative;
    height: 34px;
}
    .form-radio label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 20px;
    padding-right: 20px;
}
.display_hidden{

    display: none;
}
.display_hidden .select2{
    width: 100% !important;
    display: block;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #888;
    cursor: default;
}
.mb25{
    margin-bottom:  25px;
}
.example2 .btn{
    margin-bottom: 5px;
}