<div id="pro5" class="col s12">
    <div class="row">
        <form class="col s8" id="changePassword" (ngSubmit)="changePassword.form.valid && changePasswordSubmit()" #changePassword="ngForm" novalidate>
            <div class="row" *ngIf="!is_socail">
              <div class="input-field col s12">
                <input id="old_password" type="password" class="validate" name='old_password' [(ngModel)]="changepasswordmodel.old_password" #old_password="ngModel" required>
                <label for="old_password">Old Password</label>
                <div *ngIf="changePassword.submitted  && old_password.errors && old_password.errors.required" class="help-block err-msg">The old password field is required.</div>
                <div *ngIf="error && error['old_password']" class="err-msg">{{error['old_password']['0']}}</div>
              </div>
            </div>
                  
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" name='password' [(ngModel)]="changepasswordmodel.password" #password="ngModel" required  validateEqual="confirm_password" reverse="true">
                    <label for="password">New Password</label>
                    <div *ngIf="changePassword.submitted  && password.errors && password.errors.required" class="help-block err-msg">The password field is required.</div>
        
                    <div *ngIf="error && error['password']" class="err-msg">{{error['password']['0']}}</div>
                </div>

                <div class="input-field col s6">
                    <input id="confirm_password" type="password" class="validate" name='confirm_password' [(ngModel)]="changepasswordmodel.confirm_password" #confirm_password="ngModel" required validateEqual="password" reverse="false">
                    <label for="confirm_password">Confirm Password</label>
                    <div *ngIf="changePassword.submitted && confirm_password.errors && confirm_password.errors.required" class="help-block err-msg">The confirm password field is required.</div>       
                    <div *ngIf="changePassword.submitted && confirm_password.errors && !confirm_password.errors.validateEqual" class="help-block err-msg"> The confirm password and password must match.</div>
                   
  
        
                    <div *ngIf="error && error['confirm_password']" class="err-msg">{{error['confirm_password']['0']}}</div>
                </div>
            </div>
                      
            <div class="row">
                <div class="col s8 button">
                    <button [disabled]="loading" class="waves-effect fabivo-btn btn">
                        Submit<i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>  