<div id="pro2" class="col s12">
    <div class="row">

        <div class="limit_scroll" [hidden]="(open_address || edit_address)"> 
            <div class="col s4" [ngClass]="{'defaultAddress':address.is_default === 1}" *ngFor="let address of addressData">
                <div> 
                    <div class="panel panel-box address-box simple-hover-box highlight-box" [ngClass]="{'highlight-box':address.is_default === 1}">
                        <div class="panel-body"> 
                            <h3 class="fixed_dynamic_content">
                                <div class="dynamic-left"> {{address['first_name']}} {{address['last_name']}} </div> 
                                
                                <div class="icon-group fixed-right" style="width: 104px">
                                    <i class="pd-5 pull-right" [ngClass]="address['is_default'] === 1 ? 'fa fa-check-square-o': 'fa fa-square-o'" (click)="setDefaultAddress(address.id, address.is_default)" title="Set As Default"></i>
                                    <i class="fa fa-trash-o pd-5 pull-right" (click)="deleteAddress(address.id)"></i>
                                    <i class="fa fa-edit pd-5 pull-right" (click)="showEdit(address.id);edit_address = !edit_address"></i>
                                </div> 
                            </h3> 

                            <div class="text-grayed-12"> 
                                <br>{{address['address_1']}} 
                                <br>{{address['address_2']}} 
                                <br>{{address['city']}}, {{address['pin_code']}}
                                <br>{{address['state']}}
                                <br> 
                                <div>Mobile No. {{address['mobile']}}</div> 
                                <br> 
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="col s12" [hidden]="(open_address || edit_address)">
             <a class="addrase-btn" (click)="open_address = !open_address">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Add New Address
             </a>
        </div>
        
        <div class="col s12" [hidden]="!open_address">
            <form id="userAddress" (ngSubmit)="userAddress.form.valid && addressSubmit()" #userAddress="ngForm" novalidate>
                <div class="row">
                  <div class="input-field col s4">
                    <input id="first_name" type="text" name="first_name" class="validate" [(ngModel)]="addressmodel.first_name" #first_name="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="first_name">First Name</label>
                          <div *ngIf="userAddress.submitted && first_name.errors && first_name.errors.required" class="help-block err-msg">The first name field is required.</div>
                        <div *ngIf="userAddress.submitted && first_name.errors && first_name.errors.pattern" class="help-block err-msg">Enter valid first name.</div>
                    <div *ngIf="error && error['first_name'] && first_name.valid" class="err-msg">{{error['first_name']['0']}}</div>
                  </div>
                  <div class="input-field col s4">
                    <input id="last_name" name ="last_name" type="text" class="validate" [(ngModel)]="addressmodel.last_name" #last_name="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="last_name">Last Name</label>
                 <div *ngIf="userAddress.submitted && last_name.errors && last_name.errors.required" class="help-block err-msg">The last name field is required.</div>
                         <div *ngIf="userAddress.submitted && last_name.errors && last_name.errors.pattern" class="help-block err-msg">Enter valid last name.</div>
                    <div *ngIf="error && error['last_name'] && last_name.valid" class="err-msg">{{error['last_name']['0']}}</div>
                  </div>
                </div>
                  
                <div class="row mar-top">
                  <div class="input-field col s8">
                    <input id="address_1" type="text" name="address_1" class="validate" [(ngModel)]="addressmodel.address_1" #address_1="ngModel" required>
                    <label for="address_1">Address 1</label>
                    <div *ngIf="userAddress.submitted && !address_1.valid" class="help-block err-msg">The address 1 field is required.</div>
                    <div *ngIf="error && error['address_1'] && address_1.valid" class="err-msg">{{error['address_1']['0']}}</div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="input-field col s8">
                    <input id="address_2" type="text" name="address_2" class="validate" [(ngModel)]="addressmodel.address_2" #address_2="ngModel" required>
                    <label for="address_2">Address 2</label>
                    <div *ngIf="userAddress.submitted && !address_2.valid" class="help-block err-msg">The address 2 field is required.</div>
                    <div *ngIf="error && error['address_2'] && address_2.valid" class="err-msg">{{error['address_2']['0']}}</div>
                  </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s4">
                        <input id="mobile" type="text" name="mobile" class="validate" [(ngModel)]="addressmodel.mobile" #mobile="ngModel" required  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$">
                        <label for="mobile" >Phone Number</label>
                        <div *ngIf="userAddress.submitted && mobile.errors && mobile.errors.required" class="help-block err-msg">The mobile number field is required.</div>
                        <div *ngIf="userAddress.submitted && mobile.errors && mobile.errors.pattern" class="help-block err-msg"> The mobile number format is invalid</div>
                        <div *ngIf="error && error['mobile']" class="err-msg">{{error['mobile']['0']}}</div>
                    </div>
                    
                    <div class="input-field col s4">
                       <input id="pin_code" type="text" name="pin_code" (keyup)="getdetail('addressmodel',addressmodel.pin_code)" class="validate" [(ngModel)]="addressmodel.pin_code" #pin_code="ngModel" required pattern="^[1-9][0-9]{5}$">
                        <label for="pin_code">Pincode</label>
                      <div *ngIf="userAddress.submitted &&  pin_code.errors && pin_code.errors.required" class="help-block err-msg">The pincode field is required.</div>
                           <div *ngIf="userAddress.submitted &&  pin_code.errors && pin_code.errors.pattern" class="help-block err-msg">Enter valid pincode.</div>
                        <div *ngIf="error && error['pin_code'] && pin_code.valid" class="err-msg">{{error['pin_code']['0']}}</div>
                    </div>
                </div>
                
                <div class="row">
                  <div class="input-field col s4">
                    <input id="city" type="text" name="city" class="validate" [(ngModel)]="addressmodel.city" #city="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="city">City</label>
                    <div *ngIf="userAddress.submitted && city.errors && city.errors.required" class="help-block err-msg">The city field is required.</div>
                    <div *ngIf="userAddress.submitted &&  city.errors && city.errors.pattern" class="help-block err-msg">Enter valid city name.</div>
                    <div *ngIf="error && error['city'] && city.valid" class="err-msg">{{error['city']['0']}}</div>
                  </div>
                    
                  <div class="input-field col s4">
                    <input id="state" type="text" name="state" class="validate" [(ngModel)]="addressmodel.state" #state="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="state">State</label>
                    <div *ngIf="userAddress.submitted  && state.errors && state.errors.required" class="help-block err-msg">The state field is required.</div>
                     <div *ngIf="userAddress.submitted &&  state.errors && state.errors.pattern" class="help-block err-msg">Enter valid state name.</div>
                    <div *ngIf="error && error['state'] && state.valid" class="err-msg">{{error['state']['0']}}</div>
                  </div>
                </div>
                  
                <div class="row">
                     <div class="col s8 button">
                         <a href="javascript:void(0);" class="waves-effect fabivo-btn btn" (click)="close_address_form(open_address)">
                             Cancel
                         </a> 
                         <button class="waves-effect fabivo-btn btn pro2-btn">
                              Submit<i class="material-icons right">send</i>
                          </button>
                     </div>
                </div>
            </form>
        </div>
        
        <div class="col s12" [hidden]="!edit_address">
            <form id="editAddress" (ngSubmit)="editAddress.form.valid && editAddressSubmit()" #editAddress="ngForm" novalidate>
                <div class="row">
                  <div class="input-field col s4">
                    <input id="first_name" type="text" name="edit_first_name" class="validate" [(ngModel)]="editAddressmodel.edit_first_name" #edit_first_name="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="first_name">First Name</label>
                    <div *ngIf="editAddress.submitted && edit_first_name.errors && edit_first_name.errors.required" class="help-block err-msg">The first name field is required.</div>
                    <div *ngIf="editAddress.submitted && edit_first_name.errors && edit_first_name.errors.pattern" class="help-block err-msg">Enter valid first name.</div>
                    <div *ngIf="error && error['edit_first_name'] && edit_first_name.valid" class="err-msg">{{error['edit_first_name']['0']}}</div>
                  </div>
                  <div class="input-field col s4">
                    <input id="last_name" name ="edit_last_name" type="text" class="validate" [(ngModel)]="editAddressmodel.edit_last_name" #edit_last_name="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="last_name">Last Name</label>
                    <div *ngIf="editAddress.submitted && edit_last_name.errors && edit_last_name.errors.required" class="help-block err-msg">The last name field is required.</div>
                     <div *ngIf="editAddress.submitted && edit_last_name.errors && edit_last_name.errors.pattern" class="help-block err-msg">Enter valid last name.</div>
                    <div *ngIf="error && error['edit_last_name'] && edit_last_name.valid" class="err-msg">{{error['edit_last_name']['0']}}</div>
                  </div>
                </div>
                  
                <div class="row mar-top">
                  <div class="input-field col s8">
                    <input id="address_1" type="text" name="edit_address_1" class="validate" [(ngModel)]="editAddressmodel.edit_address_1" #edit_address_1="ngModel" required>
                    <label for="address_1">Address 1</label>
                    <div *ngIf="editAddress.submitted && !edit_address_1.valid" class="help-block err-msg">The address 1 field is required.</div>
                    <div *ngIf="error && error['edit_address_1'] && edit_address_1.valid" class="err-msg">{{error['edit_address_1']['0']}}</div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="input-field col s8">
                    <input id="address_2" type="text" name="edit_address_2" class="validate" [(ngModel)]="editAddressmodel.edit_address_2" #edit_address_2="ngModel" required>
                    <label for="address_2">Address 2</label>
                    <div *ngIf="editAddress.submitted && !edit_address_2.valid" class="help-block err-msg">The address 2 field is required.</div>
                    <div *ngIf="error && error['edit_address_2'] && edit_address_2.valid" class="err-msg">{{error['edit_address_2']['0']}}</div>
                  </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s4">
                        <input id="mobile" type="text" name="edit_mobile" class="validate" [(ngModel)]="editAddressmodel.edit_mobile" #edit_mobile="ngModel" required  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" >
                        <label for="mobile" >Phone Number</label>
                        <div *ngIf="editAddress.submitted && edit_mobile.errors && edit_mobile.errors.required" class="help-block err-msg">The mobile number field is required.</div>
                        <div *ngIf="editAddress.submitted && edit_mobile.errors && edit_mobile.errors.pattern" class="help-block err-msg"> The mobile number format is invalid</div>
                        <div *ngIf="error && error['edit_mobile']" class="err-msg">{{error['edit_mobile']['0']}}</div>
                    </div>
                    
                    <div class="input-field col s4">
                       <input id="pin_code" type="text" name="edit_pin_code" (keyup)="getdetail('editAddressmodel',editAddressmodel.edit_pin_code)" class="validate" [(ngModel)]="editAddressmodel.edit_pin_code" #edit_pin_code="ngModel" required pattern="^[1-9][0-9]{5}$">
                        <label for="pin_code">Pincode</label>
                        <div *ngIf="editAddress.submitted &&  edit_pin_code.errors && edit_pin_code.errors.required" class="help-block err-msg">The pincode field is required.</div>
                         <div *ngIf="editAddress.submitted &&  edit_pin_code.errors && edit_pin_code.errors.pattern" class="help-block err-msg">Enter valid pincode.</div>
                        <div *ngIf="error && error['edit_pin_code'] && edit_pin_code.valid" class="err-msg">{{error['edit_pin_code']['0']}}</div>
                    </div>
                </div>
                
                <div class="row">
                  <div class="input-field col s4">
                    <input id="city" type="text" name="edit_city" class="validate" [(ngModel)]="editAddressmodel.edit_city" #edit_city="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="city">City</label>
                    <div *ngIf="editAddress.submitted && edit_city.errors && edit_city.errors.required" class="help-block err-msg">The city field is required.</div>
                    <div *ngIf="editAddress.submitted &&  edit_city.errors && edit_city.errors.pattern" class="help-block err-msg">Enter valid city name.</div>
                    <div *ngIf="error && error['edit_city'] && edit_city.valid" class="err-msg">{{error['edit_city']['0']}}</div>
                  </div>
                    
                  <div class="input-field col s4">
                    <input id="state" type="text" name="edit_state" class="validate" [(ngModel)]="editAddressmodel.edit_state" #edit_state="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="state">State</label>
                     <div *ngIf="editAddress.submitted  && edit_state.errors && edit_state.errors.required" class="help-block err-msg">The state field is required.</div>
                     <div *ngIf="editAddress.submitted &&  edit_state.errors && edit_state.errors.pattern" class="help-block err-msg">Enter valid state name.</div>
                    <div *ngIf="error && error['edit_state'] && edit_state.valid" class="err-msg">{{error['edit_state']['0']}}</div>
                  </div>
                </div>
                  
                <div class="row">
                     <div class="col s8 button">
                         <a href="javascript:void(0);" class="waves-effect fabivo-btn btn" (click)="close_address_form(edit_address)">
                             Cancel
                         </a> 
                         <button class="waves-effect fabivo-btn btn pro2-btn">
                              Submit<i class="material-icons right">send</i>
                          </button>
                     </div>
                </div>
            </form>
        </div>
        
    </div>
</div>