<div class="container">
    <div class=" login-bx login-page  ">
    <div class=" row   ">
      <div class="col s12 ">
      
        <form class="login-form" id="resetPasswordForm" name="reset-passord" (ngSubmit)="resetPassword.form.valid && reset_password()" #resetPassword="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s12 center">
               <div class="contant">
            <h4 class="center login-form-text">Reset Passowrd</h4>
               </div>
          </div>
        </div>
        
        <div class="row" [ngClass]="{ 'has-error': resetPassword.submitted && !password.valid }">
          <div class="input-field col s12">
            <i class=" fa fa-lock"></i>
            <input id="password" type="password" name="password" [(ngModel)]="resetmodel.password" #password="ngModel" required>
            <label for="password" class="">Password</label>
            <div *ngIf="resetPassword.submitted  && password.errors && password.errors.required" class="help-block err-msg">The password field is required.</div>
            <div *ngIf="error['password']" class="err-msg">{{error['password']['0']}}</div>
          </div>
        </div>
              
        <div class="row" [ngClass]="{ 'has-error': resetPassword.submitted && !password.valid }">
          <div class="input-field col s12">
            <i class=" fa fa-lock"></i>
            <input id="confirm_password" type="password" name="confirm_password" [(ngModel)]="resetmodel.confirm_password" #confirm_password="ngModel" required>
            <label for="confirm_password" class="">Confirm Password</label>
            <div *ngIf="resetPassword.submitted && confirm_password.errors && confirm_password.errors.required" class="help-block err-msg">The confirm password field is required.</div>
            <div *ngIf="error['confirm_password']" class="err-msg">{{error['confirm_password']['0']}}</div>
          </div>
        </div>
        
        
        <div class="row">
          <span class="input-field col  login-btn">
            <button [disabled]="loading" class="btn waves-effect fabivo-btn">Submit</button>
          </span>
        </div>
        

      </form>
    </div>
    </div>
</div>
</div>