<div class="container">
    <div class="row">
      <div class="col s12">
      <form class="login-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s12 center">
               <div class="contant">
                    <span class="modal-action modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <img class="responsive-img" src="public/img/logo.png"/>  
            <h4 class="center login-form-text">Login</h4>
               </div>
          </div>
        </div>
        <div class="row" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <div class="input-field col s12">
            <i class="fa fa-user"></i>
            <input id="email" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required >
            <label for="email" >Email</label>
            <div *ngIf="f.submitted && !email.valid" class="help-block err-msg">Email is required</div>
          </div>
        </div>
        <div class="row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <div class="input-field col s12">
            <i class=" fa fa-lock"></i>
            <input id="password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
            <label for="password" class="">Password</label>
            <div *ngIf="f.submitted && !password.valid" class="help-block err-msg">Password is required</div>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <div class="row">
                  <div class="col m6">
                       <input id="remember-me" type="checkbox">
              <label class="mr-lf" for="remember-me">Remember me</label>
                  </div>
                  <div class="col m6">
                    <p class="margin right-align medium-small">
                        <a href="#modal3" class="modal-close">Forgot password ?</a>
                    </p>
                  </div>
              </div>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger err-msg">{{error}}</div>
        <div class="row">
          <span class="input-field col s6 login-btn">
            <button [disabled]="loading" class="btn waves-effect fabivo-btn">Sign in</button>
          </span>
            
           <span class="input-field col s6 login-btn">
            <a href="javascript:void(0);" class="modal-action modal-close btn waves-effect fabivo-btn">Back</a>
          </span>
        </div>
        

      </form>
    </div>
    </div>
</div>