 <section class="faq-section">
       <div class="container">
             <div class="row">
                <div class="col m12 s12">

						<h1><strong>Oops! Error 400</strong></h1><br />
						<h4><strong>We could not find the page you are looking for ! Sorry, we could not find the page you are trying to reach. You've probably arrived here by accident, or the page you're looking for has been moved or is no longer available. You're most welcome to navigate our web site via the links on the top.</strong></h4>

				</div>
			</div>
		</div>
</section>