<section class="header">
    <!--<div class="header-top" [hidden]="isDisabled('/checkout')">-->
    <div class="header-top">
         <div class="container">
            <div class="row">
                <div class="col m6 s6 xs6 col-1">
<!--                    <a href="#">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        <span>Download App</span>
                    </a>-->
                
                </div>
                <div class="col m6 s6 xs6 col-2">
                    <div class="row right">
                        <div class="col order-box">
                            <ul>
                                <li> 
                                    <a href="#"> 
                                        <i class="fa fa-search" aria-hidden="true"></i> 
                                    </a> 
                                </li>
                                
                                <li *ngIf="!isLoggedIn()">
                                    <a class="waves-effect fabivo-btn btn user-icon" href="#modal1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a> 
                                </li>
                                
                                <li *ngIf="isLoggedIn()">
                                    <a class="dropdown-button waves-effect fabivo-btn btn user-icon" href="javascript:void(0);" data-activates='dropdownnew'>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                    <ul id='dropdownnew' class='dropdown-content'>  
                                        <li><a [routerLink]="['./myaccount', 'profile']">Hi, {{ this.authenticationService.authData ? this.authenticationService.authData['first_name'] + " " + this.authenticationService.authData['last_name'] : this.authenticationService.getUserName() }}</a></li>
                                        <li><a [routerLink]="['./myaccount', 'order']">My Order</a></li>
                                        <li><a [routerLink]="['./myaccount', 'wallet']">My Wallet</a></li>
                                        <li><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
                                    </ul>
                                </li>
                                
                                <li> 
                                    <a class="cart-field" [routerLink]="['./cart']">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <div *ngIf="(cartService.cart && cartService.cart.length > 0) || (cartItem && cartItem.length > 0)" class="num">{{cartService.cart && cartService.cart.length > 0 ? cartService.cart.length : cartItem.length}}</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
<!--                        <div class="col cart-box">
                            <div class="search-box-mobile">
                                <button class="mobile_search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                <div class="nav-wrapper">
                                    <form>
                                        <div class="input-field">
                                            <input placeholder="Search...." id="search" name="search_text" [(ngModel)]="search_text" type="text" (keyup.enter)="Search(search_text)">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="header-custom lighten-1"  [ngClass]="{res_header: isDisabled('/checkout')==1}"  role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo" [routerLink]="['/']">
               <img class="responsive-img" src="public/img/logo.png"/>   
            </a>

            <div class="right"  [hidden]="isDisabled('/checkout')">
                <ul class="left hide-on-med-and-down">
<!--                    <li *ngFor="let menu of menus; let i = index">
                        <a class="dropdown-button" href="javascript:void(0);" attr.data-activates="dropdown{{i}}" *ngIf="menu.name">
                            {{menu.name}}
                        </a>   
                        <div id="dropdown{{i}}" class="dropdown-content dropdown-full" *ngIf="menu.parent.length > 0">
                            <div class="drop-in" *ngFor="let submenu of menu.parent">
                                 <h4 *ngIf="submenu.name"> {{submenu.name}} </h4>
                                <span class="sapreter"></span>
                                <ul *ngIf="submenu.children.length > 0">
                                    <li *ngFor="let childmenu of submenu.children">
                                        <a [routerLink]="['./category',childmenu.slug]" *ngIf="childmenu.name">{{childmenu.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </li>-->

                    <li> <a class="dropdown-button" [routerLink]="['/']">Home</a> </li>
                    
                    <li *ngFor="let menu of menus; let i = index"> 
                        <a class="dropdown-button" href="javascript:void(0);" attr.data-activates="dropdown{{i}}" *ngIf="menu.name">
                            {{menu.name}}
                        </a> 
                        <ul class="drop-nav" *ngIf="menu.children.length > 0">
                            <li *ngFor="let submenu of menu.children">
                                <a [routerLink]="['./category',submenu.slug]" *ngIf="submenu.name">{{submenu.name}}</a>
                            </li>
<!--                            <li>
                                <a href="#">demo</a>
                            </li>
                            <li>
                                <a href="#">demo</a>
                            </li>-->
                        </ul>
                    </li>
                    
<!--                    <li> <a class="dropdown-button" href="#!">Earrings</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!" data-activates="dropdown4">Bracelet</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!" data-activates="dropdown5">Necklaces</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!" data-activates="dropdown6">Color We Mad</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>-->
                    <li> <a class="dropdown-button" [routerLink]="['./contact-us']">Contact Us</a> </li>

                </ul>
                 
                <ul id="nav-mobile" class="collapsible side-nav" data-collapsible="accordion">
<!--                    <li *ngFor="let menu of menus; let i = index">
                        <div class="collapsible-header" *ngIf="menu.name">
                            <a href="javascript:void(0);">{{menu.name}}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                        <div class="collapsible-body child-menu" *ngIf="menu.parent.length > 0">
                            <div *ngFor="let submenu of menu.parent">
                                <div class="respnsive-menu-heading">
                                    <h4 *ngIf="submenu.name"> {{submenu.name}} </h4>
                                    <span class="sapreter"></span>
                                </div>
                                <ul *ngIf="submenu.children.length > 0">
                                    <li *ngFor="let childmenu of submenu.children">
                                        <a [routerLink]="['./category',childmenu.slug]" *ngIf="childmenu.name">{{childmenu.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>-->

                    <li> <a class="dropdown-button" href="#!">HOME</a> </li>
                    <li> <a class="dropdown-button" href="#!">Rings</a> </li>
                    <li> <a class="dropdown-button" href="#!">Earrings</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!" data-activates="dropdown4">Bracelet</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!" data-activates="dropdown5">Necklaces</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!" data-activates="dropdown6">Color We Mad</a>
                        <ul class="drop-nav">
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                            <li><a href="#">demo</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-button" href="#!">Contact Us</a> </li>

                    <div class="child-menu" *ngIf="!isLoggedIn()">
                        <ul class="my-account-bx-mobile">
                            <li><a href="#modal1">Login</a></li>
                            <li><a href="#modal2">Sign Up</a></li>
                        </ul>
                    </div>

                    <div class="my-account-bx child-menu" *ngIf="isLoggedIn()"> 
                        <ul class="my-account-bx-mobile">  
                            <li><a [routerLink]="['./myaccount', 'profile']">My Account</a></li>
                            <li><a [routerLink]="['./myaccount', 'order']">My Order</a></li>
                            <li><a [routerLink]="['./myaccount', 'wallet']">My Wallet</a></li>
                            <li><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </ul>
                 
                <a [hidden]="isDisabled('/product')" href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> 
                <a [hidden]="!isDisabled('/product')" href="javascript:void(0);" (click)="redirectback()" data-activates="nav-mobile" class="back_link_nav"><i class="fa fa-angle-left" aria-hidden="true"></i></a> 
<!--                <div class="search-box">
                    <form>
                        <div class="input-field">
                            <button>
                                <i class="fa fa-search" aria-hidden="true"></i>          </button>
    <input placeholder="Search...." id="search1" type="search"  name="search_text" [(ngModel)]="search_text" (keyup.enter)="Search(search_text)"  >
                            <i class="material-icons">close</i>  
                                  </div>
                    </form>
                </div>-->
<!--                <div class="login-box" *ngIf="!isLoggedIn()">
                    <a class="waves-effect fabivo-btn btn" href="#modal1"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Login</a>
                    <a class="waves-effect fabivo-btn btn" href="#modal2"><i class="fa fa-user" aria-hidden="true"></i>Sign Up</a>     
                </div>
                <div class="login-box" *ngIf="isLoggedIn()">
                    <div class="my-account-bx">
                        <a class='dropdown-button btn waves-effect fabivo-btn' href='javascript:void(0);' data-activates='dropdownnew'>
                            <i class="fa fa-user" aria-hidden="true"></i> My Account
                        </a>

                        <ul id='dropdownnew' class='dropdown-content'>  
                            <li><a [routerLink]="['./myaccount', 'profile']">Hi, {{ this.authenticationService.authData ? this.authenticationService.authData['first_name'] + " " + this.authenticationService.authData['last_name'] : this.authenticationService.getUserName() }}</a></li>
                            <li><a [routerLink]="['./myaccount', 'order']">My Order</a></li>
                            <li><a [routerLink]="['./myaccount', 'wallet']">My Wallet</a></li>
                            <li><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>-->
            </div>
            
            <div class="right" *ngIf="isDisabled('/checkout')" style="color:#9D812E;">
                 <div class="col m6 s6 xs6 col-2">
                    <div class="row right">
                        <div class="col order-box2">
                            <a  href="tel:{{settings['CONFIG_PHONE_NUMBER']}}">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>{{settings['CONFIG_PHONE_NUMBER']}}</span>
                            </a>
                            <a href="mailto:{{settings['CONFIG_SUPPORT_MAIL']}}">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>{{settings['CONFIG_SUPPORT_MAIL']}}</span>
                            </a>
                        </div>    
                  
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>    
        </div>
    </nav>

</section>

<div id="modal1" class="modal login-bx">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <form class="login-form" id="loginForm" name="form" (ngSubmit)="f.form.valid && signin()" #f="ngForm" novalidate>
                      <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close" (click)="close_model('loginForm')"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Login</h4>

                            </div>
                        </div>
                    </div>
<!--                    <div class="row social-btn-bx">
                        <div class="col m6 s12">
                            <a class="btn  fabivo-btn  waves-effect btn-social btn-facebook" (click)="fblogin()">
                                <i class="fa fa-facebook"></i><span>Sign in with Facebook</span>
                            </a>
                        </div>
                        <div class="col m6 s12">
                            <a id='googleBtn' class="btn fabivo-btn  waves-effect btn-social btn-google" >
                                <i class="fa fa-google"></i><span> Sign in with Google</span>
                            </a>

                        </div>
                    </div>-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-user"></i>
                            <input id="loginEmail" type="text" name="loginEmail" [(ngModel)]="model.loginEmail" #loginEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <label for="loginEmail" >Email</label>
                            <div *ngIf="f.submitted && loginEmail.errors && loginEmail.errors.required" class="help-block err-msg">Email is required</div>
                            <div *ngIf="f.submitted && loginEmail.errors && loginEmail.errors.pattern" class="help-block err-msg"> Email is invalid</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class=" fa fa-lock"></i>
                            <input id="loginPassword" type="password" name="loginPassword" [(ngModel)]="model.loginPassword" #loginPassword="ngModel" required>
                            <label for="password" class="">Password</label>
                            <div *ngIf="f.submitted && !loginPassword.valid" class="help-block err-msg">Password is required</div>
                        </div>
                    </div>
                    <div class="row">          
                        <div class="input-field col s12 m12 l12  login-text">
                            <div class="row">
                                <div class="col m6">
                                    <input id="remember_me" type="checkbox" name="remember_me"  [(ngModel)]="model.remember_me" #remember_me="ngModel" >
                                    <label class="mr-lf" for="remember_me" >Remember me</label>
                                </div>
                                <div class="col m6">
                                    <p class="margin right-align medium-small">
                                        <a href="#modal3" class="modal-close">Forgot password ?</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">          
                        <div class="input-field col s12 m12 l12  login-text">
                            <div class="row">
                                <div class="col m12">
                                    <p class="margin left-align medium-small">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        <a class="allready modal-close" href="#modal2">Don't have an account? Sign up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 login-btn">
                            <button [disabled]="loading" class="btn waves-effect fabivo-btn">Sign in</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal2" class="modal login-bx" aria-hidden="true">
    <div class="row">
        <div class="col s12">
            <form class="login-form" id="signupform" (ngSubmit)="signup.form.valid && usersignup(signup)"  #signup="ngForm" novalidate>
                  <div class="row">
                    <div class="input-field col s12 center">
                        <div class="contant">
                            <span class="modal-action modal-close" (click)="close_model('signupform')"><i class="fa fa-times" aria-hidden="true"></i></span>
                            <img class="responsive-img" src="public/img/logo.png"/>  
                            <h4 class="center login-form-text">Sign Up</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fa fa-user"></i>
                        <input id="first_name" type="text" name='first_name' [(ngModel)]="signupmodel.first_name" #first_name="ngModel" required pattern="[a-zA-Z ]*">
                        <label for="first_name" >First Name</label>
                        <div *ngIf="signup.submitted && first_name.errors && first_name.errors.required" class="help-block err-msg">The first name field is required.</div>
                        <div *ngIf="signup.submitted && first_name.errors && first_name.errors.pattern" class="help-block err-msg"> Enter valid first name.</div>


                        <div *ngIf="sign_up_error['first_name'] && first_name.valid" class="err-msg">{{sign_up_error['first_name']['0']}}</div>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name ='last_name' type="text"  [(ngModel)]="signupmodel.last_name" #last_name="ngModel" required pattern="[a-zA-Z ]*">
                        <label for="last_name" >Last Name</label>
                       
                        <div *ngIf="signup.submitted && last_name.errors && last_name.errors.required" class="help-block err-msg">The last name field is required.</div>
                        <div *ngIf="signup.submitted && last_name.errors && last_name.errors.pattern" class="help-block err-msg"> Enter valid last name.</div>
                        <div *ngIf="sign_up_error['last_name'] && last_name.valid" class="err-msg">{{sign_up_error['last_name']['0']}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class=" fa fa-envelope"></i>
                        <input id="email" type="text" name='email' [(ngModel)]="signupmodel.email" #email="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <label for="email" >Email</label>
                        <div *ngIf="signup.submitted && email.errors && email.errors.required" class="help-block err-msg">The email field is required.</div>
                        <div *ngIf="signup.submitted && email.errors && email.errors.pattern" class="help-block err-msg"> Email is invalid.</div>
                        <div *ngIf="sign_up_error['email'] && email.valid" class="err-msg">{{sign_up_error['email']['0']}}</div>
                       
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s6">
                        <i class=" fa fa-lock"></i>
                        <input id="password" type="password" name='password' [(ngModel)]="signupmodel.password" #password="ngModel" required validateEqual="confirm_password" reverse="true">
                        <label for="password" >Password</label>
                        <div *ngIf="signup.submitted  && password.errors && password.errors.required" class="help-block err-msg">The password field is required.</div>
                        <div *ngIf="sign_up_error['password']  && password.valid" class="err-msg">{{sign_up_error['password']['0']}}</div>
                    </div>

                    <div class="input-field col s6">
                        <i class=" fa fa-lock"></i>
                        <input id="confirm_password" type="password" name='confirm_password' [(ngModel)]="signupmodel.confirm_password" #confirm_password="ngModel" required validateEqual="password">
                        <label for="confirm_password" >Confirm Password</label>
                        <div *ngIf="signup.submitted && confirm_password.errors && confirm_password.errors.required" class="help-block err-msg">The confirm password field is required.</div>
                         <div *ngIf="signup.submitted && confirm_password.errors && !confirm_password.errors.validateEqual && !confirm_password.errors.required" class="help-block err-msg"> The confirm password and password must match.</div>                       
                        <div *ngIf="sign_up_error['confirm_password']  && confirm_password.valid" class="err-msg">{{sign_up_error['confirm_password']['0']}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="gender-bx col s6">
                        <i class="fa fa-venus-mars" aria-hidden="true"></i>
                        <label>Gender</label>
                        <p>
                            <input class="with-gap" name="gender" type="radio" id="male" value='male' [(ngModel)]="signupmodel.gender" #gender="ngModel" required  />
                            <label for="male">Male</label>

                            <input class="with-gap" name="gender" type="radio" id="female" value='female' [(ngModel)]="signupmodel.gender" #gender="ngModel" required/>
                            <label for="female">Female</label>
                        </p>
                        <div *ngIf="signup.submitted && gender.errors && gender.errors.required" class="help-block err-msg">The gender field is required.</div>
                    </div>

                    <div class="input-field col s6">
                        <i class=" fa fa-phone"></i>


                        <input id="phone" type="text" name='phone' [(ngModel)]="signupmodel.phone" #phone="ngModel" required  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" >
                        <label for="phone" >Phone Number</label>
                        <div *ngIf="signup.submitted && phone.errors && phone.errors.required" class="help-block err-msg">The phone number field is required.</div>
                        <div *ngIf="signup.submitted && phone.errors && phone.errors.pattern" class="help-block err-msg"> The phone number format is invalid</div>
                        <div *ngIf="sign_up_error['phone']  && phone.valid" class="err-msg">{{sign_up_error['phone']['0']}}</div>
                    </div>
                </div>
                <div class="row">          
                    <div class="input-field col s12 m12 l12  login-text">
                        <div class="row">
                            <div class="col m12">
                                <p class="margin left-align medium-small"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    <a  class="allready modal-close" href="#modal1">Already have an account? Sign in</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 login-btn">
                        <button  class="btn waves-effect fabivo-btn">Sign up</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="modal3" class="modal login-bx">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <form class="login-form" name="forgot-form" id="forgotPassword" (ngSubmit)="forgotpassword.form.valid && forgot_passowrd()"  #forgotpassword="ngForm" novalidate>
                      <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close" (click)="close_model('forgotPassword')"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Forgot Password</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-user"></i>
                            <input id="emails" type="text" name='email_add' [(ngModel)]="forgotpasswordmodel.email_add" #email_add="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <label for="emails" >Email</label>
                            <div *ngIf="forgotpassword.submitted && email_add.errors && email_add.errors.required" class="help-block err-msg">The email field is required.</div>
                            <div *ngIf="forgotpassword.submitted && email_add.errors && email_add.errors.pattern" class="help-block err-msg"> Email is invalid.</div>
                            <div *ngIf="error['email']" class="err-msg">{{error['email_add']['0']}}</div>
                        </div>
                    </div>

                    <div class="row">          
                        <div class="input-field col s12 m12 l12  login-text">
                            <div class="row">
                                <div class="col m12">
                                    <p class="margin left-align medium-small"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        <a  class="allready modal-close" href="#modal1">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 login-btn">
                            <button [disabled]="loading" class="btn waves-effect fabivo-btn">Submit</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal_otp" class="modal login-bx">
    <div  class="container">
        <div class="row">
            <div class="col s12">
                <form class="login-form" name="verified-form" id="verified_number" (ngSubmit)="verified_number.form.valid && submitOtp()"  #verified_number="ngForm" novalidate>
                      <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close" (click)="close_model('verified_number')"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Verify Mobile Number</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>OTP sent to {{mobile_number}}. Enter it below to verify.<p>
                                <input id="otp" type="text" name='otp' [(ngModel)]="number_model.otp" #otp="ngModel" required pattern="^[0-9]{6}$"  >
                            <div *ngIf="verified_number.submitted && otp.errors && otp.errors.required" class="help-block err-msg">The Otp field is required.</div>
                            <div *ngIf="verified_number.submitted && otp.errors && otp.errors.pattern" class="help-block err-msg">Enter 6 digit OTP.</div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 login-btn">
                            <button [disabled]="loading" class="btn waves-effect fabivo-btn">VERIFY MOBILE NUMBER</button>
                            <a  class="btn waves-effect fabivo-btn" (click)="resendOtp()">Resend Otp</a>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<div id="PhoneModalBox" class="modal login-bx">
    <div  class="container">
        <div class="row">
            <div class="col s12">
                <form class="login-form" name="phonne-verified-form" id="PhoneNumberForm" (ngSubmit)="PhoneNumberForm.form.valid && submitPhoneNumber()"  #PhoneNumberForm="ngForm" novalidate>
                      <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close" (click)="close_model('PhoneNumberForm')"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Verify Mobile Number</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col s12">
                            <p>You are logged in with {{emailId}}.<br>
                                Please provide your mobile number for verification</p>
                        </div>
                        <div class="input-field col s12">
                            <i class=" fa fa-phone"></i>


                            <input id="phone_number" type="text" name='phone_number' [(ngModel)]="PhoneNumberModel.phone_number" #phone_number="ngModel" required  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" >
                            <label for="phone_number" >Phone Number</label>
                            <div *ngIf="PhoneNumberForm.submitted && phone_number.errors && phone_number.errors.required" class="help-block err-msg">The phone number field is required.</div>
                            <div *ngIf="PhoneNumberForm.submitted && phone_number.errors && phone_number.errors.pattern" class="help-block err-msg"> The phone number format is invalid</div>
                            <div *ngIf="error['phone']" class="err-msg">{{error['phone']['0']}}</div>



                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 login-btn">
                            <button [disabled]="loading" class="btn waves-effect fabivo-btn">Send Otp</button>


                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>



<!--<div class="hearder_top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <select id="mounth">
          <option value="hide">USD</option>
          <option value="option">Option1</option>
          <option value="option">Option2</option>
        </select>
        <select id="year">
          <option value="hide">ENG</option>
          <option value="2010">Option</option>
          <option value="2011">Option</option>
        </select>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="left_side"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <div class="num">0</div>
          </a>
          <p>$0.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
<header>
<nav id='cssmenu' class="topnav">
<div class="logo"><a href=""><img src="public/img/hearder_logo.png" alt="logo"> </a></div>
<div id="head-mobile"></div>
<div class="button"></div>
<ul>
<li class='active'><a href='#'>HOME</a></li>
<li><a href='#'>Rings</a></li>
<li><a href='#'>Earrings</a>
   <ul>
      <li><a href='#'>Product 1</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
      <li><a href='#'>Product 2</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
   </ul>
</li>
<li><a href='#'>Bracelet</a></li>
<li><a href='#'>Necklaces</a></li>
<li><a href='#'>Collections</a></li>
<li><a href='#'>Contact Us</a></li>
 <li><a href="#" id="searchtoggl"><img src="public/img/search_icon.png" alt="" /></a></li>
  <li><a href="#" id="searchtoggl"><img src="public/img/shooping.png" alt="" /></a></li>
</ul>
</nav>
</header>
<div id="searchbar" class="clearfix">
    <form id="searchform" method="get" action="searchpage.php">
      <button type="submit" id="searchsubmit" class="fa fa-search fa-4x"></button>
      <input type="search" name="s" id="s" placeholder="Keywords..." autocomplete="off">

    </form>
</div>-->
