<footer class="footer">
            <div class="footer-overlay">
                <div class="container">
                  <div class="row">
         <div class="col m3 s12">
              <div class="footer-heading">
                  <img class="img-responsive" src="public/img/footer-logo.png">             
                  <span class="sapreter"></span>
              </div>
              <ul class="footer-link">
                    <li *ngFor="let cmspage1 of cmspages1"><a [routerLink]="['./page',cmspage1['slug']]">{{cmspage1["title"]}}</a></li>
                    
                <!--<li><a href="#">Private Policy</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Search Terms</a></li>
                    <li><a href="#">Advance Search</a></li>
                    <li><a href="#">Order &amp; Return</a></li>
                    <li><a [routerLink]="['/contact']">Contact us</a></li>-->
                </ul>
         </div>
         <div class="col m3 s12">
               <div class="footer-heading">
                   <h4>WHY BUY FROM US</h4>       
                                             <span class="sapreter"></span>
                                       </div>
               <ul class="footer-link">
                   <li *ngFor="let cmspage2 of cmspages2"><a [routerLink]="['./page',cmspage2['slug']]">{{cmspage2["title"]}}</a></li>
<!--                                           <li><a href="#">Shipping &amp; Return</a></li>
                                           <li><a href="#">Secure Shipping</a></li>
                                           <li><a href="#">International Shipping</a></li>
                                           <li><a href="#">Affiliates</a></li>
                                           <li><a href="#">Group Sale</a></li> -->
                                       </ul>
         </div>
         <div class="col m3 s12">
               <div class="footer-heading">
                                             <h4>MY ACCOUNT</h4>       
                                             <span class="sapreter"></span>
                                       </div>   
               <ul class="footer-link">
                                           <li><a href="#">Sign In</a></li>
                                           <li><a href="#">Wish List</a></li>
                                           <li><a href="#">View Cart</a></li>
                                           <li><a href="#">Track My Order</a></li>
<!--                                           <li><a href="#">Help</a></li> -->
                                           <li><a [routerLink]="['./faq']">Faq</a></li> 
                                           
                                           <li *ngFor="let cmspage3 of cmspages3"><a [routerLink]="['./page',cmspage3['slug']]">{{cmspage3["title"]}}</a></li>
                                       </ul>
               <div class="social-box">
                    <ul>
                        <li><a href="{{settings['CONFIG_FACEBOOK_LINK']}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="{{settings['CONFIG_TWITTER_LINK']}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>                                       
                        <li><a href="{{settings['CONFIG_GOOGLE_PLUS_LINK']}}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="{{settings['CONFIG_PINTEREST_LINK']}}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>                                       
                        
<!--                        <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>                                       
                        <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>   -->
                    </ul>
               </div>
         </div>
         <div class="col m3 s12">
               <div class="footer-heading">
                                             <h4>NEWSLETTER</h4>       
                                             <span class="sapreter"></span>
                                       </div>
               <div class="news-bx">
                   <div class="input-field">          
                      <input id="search" placeholder="Your Email Address" required="" type="search">
                       <a class="waves-effect fabivo-btn btn">Subscribe</a>
                   </div>
              </div>
               <div class="store-bx">
                    <h4>DOWNLOAD THE APP</h4>
                    <a class="aap-store waves-effect waves-light" href="{{settings['CONFIG_IOS_APP_LINK']}}" target="_blank"></a>
                    <a class="play-store waves-effect waves-light" href="{{settings['CONFIG_ANDROID_APP_LINK']}}" target="_blank"></a>               </div>
         </div>            
         <div class="col m12 s12">
              <span class="footer-sapreter"></span>
         </div> 
      </div>
        <div class="footer-copyright">
                <div class="row">
                <div class="copyright">
                                   <div class="col m6 s12 col-1">
                                       <a [routerLink]="['/']" [innerHTML]="settings['CONFIG_COPYRIGHT']"></a>
                                  </div>
                                   <div class="col m6  s12 right col-2">
                                         <ul>
                                             <li><a class="card-n card-1" href="#"></a></li>
                                             <li><a class="card-n card-2" href="#"></a></li>
                                             <li><a class="card-n card-3" href="#"></a></li>
                                             <li><a class="card-n card-4" href="#"></a></li>
                                         </ul>
                                   </div>
                                  </div>
             </div>
       </div>
               </div>
            </div>    
   </footer>


