<section class="listing-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">

            </div>

        </div>
    </div>  
</section>


<section class="filters-product">
    <div class="container">
        <div class="row">
            <div class="col m12 s6">
                <div class="category-content">
                    <div class="row">
                        <div class="col m3 s6" *ngFor="let product_w of wish_products">

                             <div class="product-bx wish-product-bx card-panel hoverable ">

                                <div class="product-img">
                                    <a [routerLink]="['../product',product_w.slug]">
                                        <img class="responsive-img" src="{{product_w.image}}">
                                    </a>
                                    <a href="javascript:void(0);" (click)="removeToWishlist(product_w.id)"   class="is_wishlist">
                                        <i aria-hidden="true" class="fa fa-close"></i>
                                    </a>

                                </div>

                                <div class="product-details center-align">
                                    <a [routerLink]="['../product',product_w.slug]">

                                        <h5>{{product_w.title}}</h5>

                                        <div class="prize">
                                            <span [innerHTML]="product_w.price"></span>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>

                                    <div *ngIf="product_w.id== show_product" class="product-detail product-size product-size1">
                                        <ul class="product-info">

                                            <li *ngFor="let attribute of product_w.size" [class.active]="select_size == attribute.slug" (click)="setSize(attribute.slug,product_w.id)">
                                                <a class="waves-effect btn">{{attribute.name}}</a>
                                            </li>


                                        </ul>


                                    </div>

                                    <div class="clearfix"></div>



                                    <a *ngIf="product_w.id!= show_product" (click)="showSize(product_w.id)"  class="waves-effect btn fabivo-btn-3">Add To Bag</a>

                                    <div class="clearfix"></div>


                                </div> 
                            </div>

                        </div>

                        <div class="emptyPage" *ngIf="!wish_products || wish_products.length == 0" style=""> 
                            <div><i class="fa fa-search" aria-hidden="true"></i></div> 
                            <div>No Match Found</div> 
                        </div>
                    </div>

                    <div class="listing-breadcrumb"> 
                        <div class="col m12 s12 pagination_full">



                            <!-- pager -->
                            <ul  *ngIf="pager.pages && pager.pages.length" class="pagination right">
                                <!--<li class="waves-effect" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(1)">First</a>
                                </li> -->
                                <li class="waves-effect"  [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a  (click)="setPage(pager.currentPage - 1)"><i class="material-icons">chevron_left</i></a>
                                </li>
                                <li class="waves-effect"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.currentPage + 1)"><i class="material-icons">chevron_right</i></a>
                                </li>
                                <!--
                                <li class="waves-effect"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.totalPages)">Last</a>
                                </li> -->
                            </ul>
                        </div> 
                    </div> 

                </div>
            </div>
        </div>
    </div>
</section>
