 <section class="faq-section">
       <div class="container">
             <div class="row">
                <div class="col m12 s12">

					
						<h4 class="center-align"><strong>Thank you for confirm your email.</strong></h4>

				</div>
			</div>
		</div>
</section>