<section class="chackout-form">
    <div class="container">
        <div class="row">
            <div class="col m4 s12">
                <div class="login-details" (click)="changeUrl('address')">
                    <div class="heading">
                        <h5>
                            <span>1</span>
                            SHIPMENT ADDRESS 
                        </h5>
                    </div>
                    <div class="mail-id" *ngIf="!selected_address.id">
                        <p>Select a Shipping Address</p>
                    </div>
                    
                    <div class="mail-id" *ngIf="selected_address.id">
                        <div class="panel-box"> 
                            <h3 class="fixed_dynamic_content">
                                <div class="dynamic-left"> {{selected_address.first_name}} {{selected_address.last_name}} </div> 
                            </h3> 

                            <div class="text-grayed-12"> 
                                <br>{{selected_address.address_1}} 
                                <br>{{selected_address.address_2}} 
                                <br>{{selected_address.city}}, {{selected_address.pin_code}}
                                <br>{{selected_address.state}}
                                <br> 
                                <div>Mobile No. {{selected_address.mobile}}</div> 
                                <br> 
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="login-details " (click)="changeUrl('summary')" [class.disabled]="isDisabled('/address')" [class.order_summary_xl]="isDisabled('/address')">
                    <div class="heading">
                        <h5>
                            <span>2</span>
                            ORDER SUMMARY
                        </h5>
                    </div>
                    <div class="mail-id">
                        <h6>You have {{cart_length > 1 ? cart_length + ' items' : cart_length + ' item'}} in your bag</h6>
                        <div class="order-1">
                            <span class="left">Sub Total</span>
                            <span class="right" [innerHTML]="carts['total_price'] ? carts['total_price'] : 0"></span>
                        </div>
                        <div class="clearfix"></div>

                        <div  *ngIf="carts['enable_shipping_charge']" class="order-1">
                            <span class="left">Shipping</span>
                            <span class="right" [innerHTML]="carts['shipping_charge'] ? carts['shipping_charge'] : 0"></span>
                        </div>
                        <div class="clearfix"></div>

                        
                        <div class="order-1" *ngIf="carts['enable_tax']">
                                  <div  *ngFor="let tax of carts['tax']">
                                
                        <span class="left">{{tax['name']}}</span>
                        <span class="right" [innerHTML]="tax['amount']"></span>
                        <div class="clearfix"></div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                             <div *ngIf="carts['enable_discount']" class="order-1"  >
                            
                                    
                            <span class="left">Discount</span>
                            <span class="right" [innerHTML]="carts['discount']"></span>
                            <div class="clearfix"></div>
                            
                          </div> 
                      <div *ngIf="type == 'COD' && carts['is_cod_money']" class="order-1"  >
                            
                                    
                            <span class="left">COD</span>
                            <span class="right" [innerHTML]="carts['cod_money']"></span>
                            <div class="clearfix"></div>
                            
                          </div>
                        
                        <div class="order-2">
                            <span class="left">Net Amount</span>
                            <span class="right" [innerHTML]="type != 'COD'?carts['payble_amount']:carts['cod_payble_amount']"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
             <div class="col m4 s12 " *ngIf="isDisabled('/address')"  [class.order_summary_sm]="isDisabled('/address')">
          

                <div class="login-details" (click)="changeUrl('summary')" [class.disabled]="isDisabled('/address')">
                    <div class="heading">
                        <h5>
                            <span>2</span>
                            ORDER SUMMARY
                        </h5>
                    </div>
                    <div class="mail-id">
                        <h6>You have {{cart_length > 1 ? cart_length + ' items' : cart_length + ' item'}} in your bag</h6>
                        <div class="order-1">
                            <span class="left">Sub Total</span>
                            <span class="right" [innerHTML]="carts['total_price'] ? carts['total_price'] : 0"></span>
                        </div>
                        <div class="clearfix"></div>

                        <div  *ngIf="carts['enable_shipping_charge']" class="order-1">
                            <span class="left">Shipping</span>
                            <span class="right" [innerHTML]="carts['shipping_charge'] ? carts['shipping_charge'] : 0"></span>
                        </div>
                        <div class="clearfix"></div>

                        
                        <div class="order-1" *ngIf="carts['enable_tax']">
                                  <div  *ngFor="let tax of carts['tax']">
                                
                        <span class="left">{{tax['name']}}</span>
                        <span class="right" [innerHTML]="tax['amount']"></span>
                        <div class="clearfix"></div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                             <div *ngIf="carts['enable_discount']" class="order-1"  >
                            
                                    
                            <span class="left">Discount</span>
                            <span class="right" [innerHTML]="carts['discount']"></span>
                            <div class="clearfix"></div>
                            
                          </div> 
                      <div *ngIf="type == 'COD' && carts['is_cod_money']" class="order-1"  >
                            
                                    
                            <span class="left">COD</span>
                            <span class="right" [innerHTML]="carts['cod_money']"></span>
                            <div class="clearfix"></div>
                            
                          </div>
                        
                        <div class="order-2">
                            <span class="left">Net Amount</span>
                            <span class="right" [innerHTML]="type != 'COD'?carts['payble_amount']:carts['cod_payble_amount']"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>