<section class="inner-slider">
    <img class="img-full" src="{{categories.image}}"/>   
</section> 

<section class="listing-breadcrumb">
    <div class="container">
        <div class="row div-hide-on-large-only">
            <div class="col m6 s6 center-align">
                <a href="#modalFilter">
                    <i class="fa fa-filter fa_filter"></i>
                    FILTERS </a>
            </div>
            <div class="col m6 s6 center-align">
                <a href="#modalSort" >
                    <i class="fa fa-sort fa_sort_by" ></i>
                    SORT BY 
                </a>
            </div>



        </div>
        <div class="row " >
            <div class="col m6 s12 div-hide-on-med-and-down">
                <div class="sort-by">
                    <ul>
                        <li><b>Sort By:</b></li>
                        <li [ngClass]="{active:sortBy == 'popular'}" ><a  (click)="setsortBy('popular')"> Popular</a></li>
                        <li [ngClass]="{active:sortBy =='new'}" ><a  (click)="setsortBy('new')"> New</a></li>
                        <li [ngClass]="{active:sortBy =='price_high'}" ><a  (click)="setsortBy('price_high')">Price High</a></li>
                        <li [ngClass]="{active:sortBy =='price_low'}" ><a  (click)="setsortBy('price_low')">Price Low</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <div id="modalSort" class="modal div-hide-on-large-only">
                <div class="container">
                    <div class="row">
                        <div class="col s12"><span class="modal-action modal-close" ><i class="fa fa-times" aria-hidden="true"></i></span></div>
                        <div class="col s12">

                            <ul>
                                <li><b>SORT BY</b></li>
                                <li [ngClass]="{active:sortBy == 'popular'}" ><a  (click)="setsortBy('popular')"> Popular</a></li>
                                <li [ngClass]="{active:sortBy =='new'}" ><a  (click)="setsortBy('new')"> New</a></li>
                                <li [ngClass]="{active:sortBy =='price_low'}" ><a  (click)="setsortBy('price_low')">  Price : Low to High</a></li>
                                <li [ngClass]="{active:sortBy =='price_high'}" ><a  (click)="setsortBy('price_high')">Price : High to Low</a></li>
                                <div class="clearfix"></div>
                            </ul>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col m6 s12 pagination_full">



                <!-- pager -->
                <ul  *ngIf="pager.pages && pager.pages.length" class="pagination right">
                    <!--<li class="waves-effect" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li> -->
                    <li class="waves-effect"  [ngClass]="{disabled:pager.currentPage === 1}">
                        <a  (click)="setPage(pager.currentPage - 1)"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li class="waves-effect"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)"><i class="material-icons">chevron_right</i></a>
                    </li>
                    <!--
                    <li class="waves-effect"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li> -->
                </ul>
            </div> 
        </div>
    </div>  
</section>

<section class="product-category">
    <div class="container">
        <div class="row">
            <div class="col m6 s6">
                <h5>PRODUCT CATEGORY</h5>
            </div>
            <div class="col m6 s6">
                <div class="product-category-breadcrumb right">
                    <ul>
                        <li ><a [routerLink]="['/']" >Home</a></li>
                        <li class="disabled"><a >{{categories['name'] | capitalize}}</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="filters-product">
    <div class="container">
        <div class="row">
            <div class="col m4 s6 div-hide-on-med-and-down">

                <div class="filters-list filters-list-2">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li *ngFor="let filter of filters">
                            <div class="collapsible-header" [ngClass]="{show_bullet:attributes.indexOf(filter.slug) > -1}">{{filter.name | capitalize}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    <li *ngFor="let attribute of filter.attribute_value">
                                        <a [ngClass]="{active:valuses.indexOf(attribute.slug) > -1}" (click)="setfilter(filter.slug,attribute.slug)">
                                            {{attribute.name | capitalize}}
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>


            <div id="modalFilter" class="modal div-hide-on-large-only">
                <div class="container">
                    <div class="row">
                        <div class="col s12"><span class="modal-action modal-close" ><i class="fa fa-times" aria-hidden="true"></i></span></div>
                        <div class="col s12">

                            <div class="filters-list filters-list-2">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li *ngFor="let filter of filters">
                                        <div class="collapsible-header" [ngClass]="{show_bullet:attributes.indexOf(filter.slug) > -1}">{{filter.name | capitalize}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </div>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li *ngFor="let attribute of filter.attribute_value">
                                                    <a [ngClass]="{active:valuses.indexOf(attribute.slug) > -1}" (click)="setfilter(filter.slug,attribute.slug)">
                                                        {{attribute.name | capitalize}}
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>



                        </div>

                        <div class="col s12">
                            <div class="row">

                                <div class="col m6 s6 center-align">
                                    <a  onclick="clearFilter()" class="clear_filter waves-effect fabivo-btn btn"> CLEAR 
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col m8 s6">
                <div class="category-content">
                    <div class="row">
                        <div class="col m4 s6 " *ngFor="let product of products.data">
                             <div class="product-bx card-panel hoverable ">
                                <div class="product-img">
                                    <a [routerLink]="['../../product',product.slug]">
                                        <img class="responsive-img" src="{{product.image}}">
                                    </a>

                                    <a *ngIf="cartService.wishlistArray.indexOf(product.id) > -1" class="is_wishlist" href="javascript:void(0);"   ><i  class="fa fa-heart" aria-hidden="true" (click)="cartService.removeToWishlist(product.id)"></i></a> 
                                    <a *ngIf="cartService.wishlistArray.indexOf(product.id) ==-1" class="is_wishlist" href="javascript:void(0);"  ><i class="fa fa-heart-o" aria-hidden="true" (click)="cartService.addToWishlist(product.id)" ></i></a>






                                </div>
                                <div class="product-details center-align">
                                    <a [routerLink]="['../../product',product.slug]">
                                        <h5>{{product.title}}</h5>
                                        <!--                                     <h6 [innerHTML]="product.description"></h6>-->
                                        <div class="prize">
                                            <!--                                                             <del>&#x20B9; 1500</del>-->
                                            <span [innerHTML]="product.price"></span>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                    <!--                                    <a [routerLink]="['../../product',product.slug]" class="waves-effect btn fabivo-btn-3">
                                                                            Shop now
                                                                        </a>-->
                                </div> 
                            </div>


                        </div>
                        <div class="emptyPage" *ngIf="products.total==0" style=""> 
                            <div><i class="fa fa-search" aria-hidden="true"></i></div> 
                            <div>No Match Found</div> 
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>