/*------------------------------------------------------------------
 Project:		Gelli
 Version:		1
 Primary use:	Gelli Multi Purpose
 -------------------------------------------------------------------*/
a, a span, a i {
  color: #7ac3c2;
}
.gelli-box-7:hover .bg-skin-hover {
  background: #7ac3c2;
}
.ads-home19 .txt-center h1, .gelli-product-category .flex-direction-nav li a:hover:before {
  color: #7ac3c2;
}
.social-midle .quickview .yith-wcqv-button:hover {
  background: #7ac3c2;
}
.ads-home19 .txt-left .txt-all h1, .ads-home19 .txt-right .txt-all h1 {
  color: #7ac3c2;
}
.gelli-box-6 .more-link:hover {
  background: #7ac3c2;
  border-color: #7ac3c2;
}
.section-newletter .form-newlt i.fa-long-arrow-right, .section-newletter .form-newlt input[type="submit"]:hover + i.fa-long-arrow-right, .section-newletter .form-newlt input[type="submit"] {
  color: #7ac3c2;
}
.filter-products.layout2 #work-filter .active a {
  color: #7ac3c2 !important;
}
.gelli-social-shortcode a:hover:before {
  background: #7ac3c2;
}
.gelli-social-shortcode a:hover {
  border-color: #7ac3c2;
}
.header-v3 .logo h1.site-title, .header-v4 .logo h1.site-title, .header-v5 .logo h1.site-title {
  color: #7ac3c2;
}
.footer-v2 a:hover, .footer-v2 a:hover i {
  color: #7ac3c2;
}
.main-color {
  color: #7ac3c2 !important;
}
.header-v2 .header_icon button.dropdown-toggle:hover i {
  color: #7ac3c2 !important;
}
.gelli-toogle .menu li a:hover {
  background-color: #7ac3c2;
}
.gelli_rev_3 .tp-bullet-img-wrap {
  border-color: #7ac3c2;
}
.gelli_rev .tp-bullet.selected, .gelli_rev_3 .tp-bullet.selected .tp-bullet-dotted {
  background-color: #7ac3c2;
}
.gelli_rev .tp-bullet.selected:before, .gelli_rev_3 .tp-bullet.selected .tp-bullet-dotted:before {
  border-color: #7ac3c2;
}
.gelli_rev .tp-bullet:hover, .gelli_rev_3 .tp-bullet:hover .tp-bullet-dotted {
  background-color: #7ac3c2;
}
.gelli_rev_2.tparrows, .gelli_rev_3.tparrows, .gelli_rev.tparrows {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
.gelli_rev_2.tparrows:hover, .gelli_rev_3.tparrows:hover, .gelli_rev.tparrows:hover {
  background: #7ac3c2;
}
.gelli_rev_2.tparrows:before, .gelli_rev_3.tparrows:before, .gelli_rev.tparrows:before {
  color: #7ac3c2;
}
.gelli_carousel .carousel-control span.gelli_arrow i {
  color: #7ac3c2;
}
.gelli_carousel_element .carousel-indicators li.active:before {
  border-color: #7ac3c2;
}
.gelli_carousel_element .carousel-indicators li.active, .gelli_carousel_element .carousel-indicators li:hover {
  background: #7ac3c2;
}
.gelli_carousel .carousel-control {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
.gelli_carousel .carousel-control:hover {
  background: #7ac3c2;
}
.gelli-cart .buttons a {
  background-color: #7ac3c2;
  border-color: #7ac3c2;
}
.gelli-cart .buttons a:hover {
  color: #7ac3c2;
}
.minicart_pro_des span.quantity .amount {
  color: #7ac3c2;
}
.minicart_pro_des span.quantity .amount span {
  color: #7ac3c2;
}
.gelli-cart .widget_shopping_cart_content .total .amount {
  color: #7ac3c2;
}
.gelli-cart .widget_shopping_cart_content .total .amount span {
  color: #7ac3c2;
}
.top-bar .social-login-options .social a:hover i {
  color: #7ac3c2;
}
.header-v1 .top-bar button.btn:hover {
  color: #7ac3c2;
}
.header-v1 .top-bar button.btn:hover i {
  color: #7ac3c2;
}
button.search-submit {
  color: #7ac3c2;
}
.search-form .search-submit:hover {
  background: #7ac3c2;
}
.gelli-search button:hover i {
  color: #7ac3c2;
}
.gelli-cart .cart-num {
  border-color: #7ac3c2;
  background: #7ac3c2;
}
.main-navigation .nav-menu a:hover, .main-navigation .nav-menu a:focus {
  color: #7ac3c2;
}
.main-navigation .nav-menu li.current-menu-item > a, .main-navigation .nav-menu li.current-menu-ancestor > a, .main-navigation .nav-menu li.current-menu-parent > a, .main-navigation .nav-menu li.current_page_item > a, .main-navigation .nav-menu li.current-menu-item > .menu_label, .main-navigation .nav-menu li.current-menu-ancestor > .menu_label, .main-navigation .nav-menu li.current-menu-parent > .menu_label, .main-navigation .nav-menu li.current_page_item > .menu_label {
  color: #7ac3c2;
}
.footer .widget_nav_menu ul li:hover a {
  color: #7ac3c2;
}
.footer-info-v1 .links li em.fa {
  color: #7ac3c2;
}
.mini_cart_item .image a:hover, .footer .form-newlt input[type="submit"]:hover {
  border-color: #7ac3c2;
}
.minicart_pro_des a:hover {
  color: #7ac3c2;
}
.gelli_price .discount, .gelli_carousel_title, .gelli_carousel_button .gelli_addtocart a:hover, .gelli_carousel_button .gelli_addtocart a span, .gelli_carousel_button .gelli_addtocart a:hover span, .gelli_carousel_button .gelli_addtocart .gelli_btn_cart .added_to_cart.wc-forward, .footer .form-newlt input[type="submit"]:hover + i.fa-long-arrow-right, .gelli-cart button:hover i, .gelli-cart-v2.gelli-cart span.price span, .header-v3 .col-search .category_dropdown .btn-default span, .header-v3 .social-login-options .social a:hover i {
  color: #7ac3c2;
}
.gelli_carousel_button .gelli_addtocart, .gelli_carousel_button .gelli_addtocart .gelli_btn_cart .added_to_cart.wc-forward {
  border-color: #7ac3c2;
}
.gelli_carousel_button .gelli_addtocart .gelli_btn_cart .add_to_cart_icon {
  background: #7ac3c2;
}
.main-navigation .nav-menu li.menu-item-has-children:hover > ul.sub-menu, .main-navigation .megamenu > .menu_fullwidth > ul.children {
  border-top-color: #7ac3c2;
}
.main-navigation ul.sub-menu li:hover a:before, .header-v3 .main-navigation .nav-menu > li.current-menu-item > a:before, .header-v3 .main-navigation .nav-menu > li.current-menu-parent > a:before, .header-v3 .main-navigation .nav-menu > li.current-menu-ancestor > a:before, .header-v3 .main-navigation .nav-menu > li.menu-item-has-children:hover > a:before, .header-v3 .main-navigation .nav-menu > li:hover > a:before {
  background-color: #7ac3c2;
}
.header-v3 .col-search .category_dropdown ul.dropdown-menu li:hover, .header-v3 .col-search button.search-submit:hover, .gelli-cart-v3 span.text {
  color: #7ac3c2;
}
.gelli-cart-v3 span.icon {
  border-color: #7ac3c2;
}
.gelli-cart-v3 span.text:after, .gelli-cart-v3 span.icon:before {
  background-color: #7ac3c2;
}
.gelli-cart-v3 button:hover span.icon:before {
  border-color: #7ac3c2;
}
.header-v4 .header-icon .dropdown span.title {
  border-bottom-color: #7ac3c2;
  color: #7ac3c2;
}
.header-v4 .header-icon .btn-default:hover *, .header-v4 .header-icon .btn-default:hover *, .header-v4 .header-icon .btn-default:focus *, .header-v4 .header-icon .btn-default:focus *, .header-v4 .header-icon .btn-default.focus *, .header-v4 .header-icon .btn-default.focus *, .header-v4 .header-icon .btn-default:hover *, .header-v4 .header-icon .btn-default:hover, .header-v4 .header-icon .btn-default:hover, .header-v4 .header-icon .btn-default:focus, .header-v4 .header-icon .btn-default:focus, .header-v4 .header-icon .btn-default.focus, .header-v4 .header-icon .btn-default.focus, .header-v4 .header-icon .btn-default:hover, .header-v4 .header-icon .btn-default.active:hover, .header-v4 .header-icon .open > .dropdown-toggle.btn-default:hover, .header-v4 .header-icon .btn-default:active:focus, .header-v4 .header-icon .btn-default.active:focus, .header-v4 .header-icon .open > .dropdown-toggle.btn-default:focus, .header-v4 .header-icon .btn-default:active.focus, .header-v4 .header-icon .btn-default.active.focus, .header-v4 .header-icon .open > .dropdown-toggle.btn-default.focus, .header-v5 .header-icon .btn-default:hover *, .header-v5 .header-icon .btn-default:hover *, .header-v5 .header-icon .btn-default:focus *, .header-v5 .header-icon .btn-default:focus *, .header-v5 .header-icon .btn-default.focus *, .header-v5 .header-icon .btn-default.focus *, .header-v5 .header-icon .btn-default:hover *, .header-v5 .header-icon .btn-default:hover, .header-v5 .header-icon .btn-default:hover, .header-v5 .header-icon .btn-default:focus, .header-v5 .header-icon .btn-default:focus, .header-v5 .header-icon .btn-default.focus, .header-v5 .header-icon .btn-default.focus, .header-v5 .header-icon .btn-default:hover, .header-v5 .header-icon .btn-default.active:hover, .header-v5 .header-icon .open > .dropdown-toggle.btn-default:hover, .header-v5 .header-icon .btn-default:active:focus, .header-v5 .header-icon .btn-default.active:focus, .header-v5 .header-icon .open > .dropdown-toggle.btn-default:focus, .header-v5 .header-icon .btn-default:active.focus, .header-v5 .header-icon .btn-default.active.focus, .header-v5 .header-icon .open > .dropdown-toggle.btn-default.focus {
  color: #7ac3c2;
}
.header-v4 .main-navigation .nav-menu li.current-menu-ancestor > a:before, .header-v4 .main-navigation .nav-menu li.current-menu-item > a:before, .header-v4 .main-navigation .nav-menu li.current-menu-parent > a:before, .header-v4 .main-navigation .nav-menu li.current_page_item > a:before, .header-v4 .main-navigation .nav-menu li:focus > a:before, .header-v4 .main-navigation .nav-menu li:active > a:before, .header-v4 .main-navigation .nav-menu li:hover > a:before {
  background-color: #7ac3c2;
}
.header-v4 .top-bar a:hover, .header-v4 .top-bar a:hover *, .header-v4 .top-bar a:active, .header-v4 .top-bar a:active * .header-v4 .top-bar a:focus, .header-v4 .top-bar a:focus *, .header-v3 .top-bar a:hover, .header-v3 .top-bar a:hover *, .header-v3 .top-bar a:active, .header-v3 .top-bar a:active * .header-v3 .top-bar a:focus, .header-v3 .top-bar a:focus * {
  color: #7ac3c2;
}
.logo-border-style, .logo-border-style i {
  color: #7ac3c2;
}
.logo-border-style span.doted {
  background-color: #7ac3c2;
}
.header-v5 .social a:hover, .header-v5 .social a:hover i {
  color: #7ac3c2;
}
del {
  color: #7ac3c2;
}
.btn-share a i {
  color: #7ac3c2;
}
.gelli_rev .tp-bullet.selected {
  background-color: #7ac3c2;
}
.gelli_rev .tp-bullet.selected:before {
  border-color: #7ac3c2;
}
/*Shortcode advanced box*/
.gelli-box .box1:hover .box1-border, .gelli-box .box1:hover, .gelli-box-3 .box3:hover {
  border-color: #7ac3c2;
}
.gelli-box .box1:hover h3, .gelli-box-3 .box3:hover h3, .gelli-box-3 .box3:hover .txt h3 span {
  color: #7ac3c2;
}
.gelli-product .beans-slideset button.slick-arrow:hover i {
  color: #7ac3c2;
}
.slick-dots li:hover, .slick-dots li.slick-active {
  border: 1px solid #7ac3c2;
}
.slick-dots li.slick-active button, .slick-dots li:hover button {
  background: #7ac3c2 !important;
}
article.product .price span {
  color: #7ac3c2;
}
.btn-share, .btn-cart-in {
  border-color: #7ac3c2;
}
.btn-share:hover .add-to, .btn-share:hover > div, .btn-share:hover a, .hover .btn-cart-in .btn-cart-in1, .btn-cart-in:hover .btn-cart-in1 {
  background: #7ac3c2;
}
.btn-share:hover .add-to .add_to_compare.added {
  color: #fff;
}
.btn-share .add-to .add_to_compare.added, .btn-share:hover a i, .add_to_cart_button, .social-top a i {
  color: #7ac3c2;
}
/*Shortcode clients*/
.gelli-client .beans-stepslider .slick-arrow:hover {
  border-color: #7ac3c2;
}
.gelli-client .beans-stepslider .slick-arrow:hover i {
  color: #7ac3c2;
}
/*Shortcode newsletter*/
.newsletter-home5 .form-newlt input[type="submit"]:hover + i, .newsletter-home5 .form-newlt input[type="submit"]:active + i, .newsletter-home5 .form-newlt input[type="submit"]:focus + i {
  color: #7ac3c2;
}
.form-newlt .first {
  border-color: #7ac3c2;
}
.form-newlt i {
  color: #7ac3c2;
}
.form-newlt input[type="email"] {
  color: #7ac3c2;
}
.form-newlt input[type="submit"]:hover {
  color: #7ac3c2;
}
::-webkit-input-placeholder {
  color: #7ac3c2;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #7ac3c2;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #7ac3c2;
}
:-ms-input-placeholder {
  color: #7ac3c2;
}
/*Shortcode latest blog*/
.gelli-blog .item-post a h2, .gelli-blog .item-post .time-post p, .gelli-blog .item-post .time-post p span {
  color: #7ac3c2;
}
.gelli-blog .item-post .time-post {
  border-color: #7ac3c2;
}
/*Shortcode testimonial*/
.gelli-testimonial .testiImg img {
  border-color: #7ac3c2;
}
.gelli-testimonial .testiImg h3 {
  color: #7ac3c2;
}
.owl-theme .owl-controls .owl-page:hover, .owl-theme .owl-controls .owl-page.active {
  border: 1px solid #7ac3c2;
}
.owl-theme .owl-controls .owl-page:hover span, .owl-theme .owl-controls .owl-page.active span.owl-numbers {
  background: #7ac3c2 !important;
}
/*Shortcode product*/
ul.new-product .info-right .price span {
  color: #7ac3c2;
}
ul.new-product .info-right a:hover {
  color: #7ac3c2;
  text-decoration: none;
}
ul.new-product li:hover .imgthumb {
  border-color: #7ac3c2;
  cursor: pointer;
}
.dailydeals-product .product:hover .settime .settime-box:after, .dailydeals-product .product:hover .settime .settime-box:before, .dailydeals-product .active .product .settime .settime-box:after, .dailydeals-product .active .product .settime .settime-box:before {
  border-color: #7ac3c2;
}
.dailydeals-product .product:hover .settime .settime-box span b, .dailydeals-product .product:hover .settime .settime-box span, .dailydeals-product .active .product .settime .settime-box span b, .dailydeals-product .active .product .settime .settime-box span {
  color: #7ac3c2;
}
/* about author */
.about-author .testiImg h3 {
  color: #7ac3c2;
}
.about-author .testiImg img {
  border-color: #7ac3c2;
}
.share-social ul li:hover i {
  color: #7ac3c2;
}
.box-collection span {
  color: #7ac3c2;
}
.box-collection h3 {
  color: #7ac3c2;
}
.box-collection a i {
  color: #7ac3c2;
}
/*Shortcode Icon*/
.gelli-iconbox .icon i, .gelli-iconbox .box-content h3 {
  color: #7ac3c2;
}
.icon-withborder:hover div.icon span {
  border-color: #7ac3c2;
  background: #7ac3c2;
}
.icon-withborder:hover .gelli-iconbox .box-content h3 {
  color: #7ac3c2;
}
.icon-withborder:hover div.icon {
  border: 1px solid #7ac3c2;
}
/*****/
.about-text .title-txt .txtgelli {
  color: #7ac3c2;
}
.item-post-1 h2, .item-post-1:hover .all-item-1 a, .item-post-1:hover .all-item-1 a:after {
  color: #7ac3c2;
}
.txt-block-home h1 span {
  color: #7ac3c2;
}
.gelli-blog .item-post-2 .image-content .date-post {
  background-color: #7ac3c2;
}
.gelli-blog .item-post-2 .blog_link_img {
  color: #7ac3c2;
}
.item-post-2 .read-more a, .item-post-2 .read-more i {
  color: #7ac3c2;
}
.item-post-1:hover, .item-post-1:hover .all-item-1 {
  border-color: #7ac3c2;
}
.testi-1 .owl-page:hover, .testi-1 .owl-page.active {
  border: 1px solid #7ac3c2;
}
.testi-1 .owl-page:hover span, .testi-1 .owl-page.active span {
  background: #7ac3c2;
}
/*Filter*/
.filter-product .nav-filter li.active a, .filter-product .nav-filter li:hover a {
  color: #7ac3c2;
}
/*Shortcode team*/
.gelli-team .item .info .name {
  color: #7ac3c2;
}
.default-background-color {
  background-color: #7ac3c2;
}
/*Accessories 2*/
.access-box-top .txt a:hover {
  color: #7ac3c2 !important;
  border-color: #7ac3c2;
}
.about-us-banner-content h5 span {
  color: #7ac3c2 !important;
}
/*Contact form*/
.wpcf7-form p input[type="submit"] {
  border: 1px solid #7ac3c2;
  color: #7ac3c2;
}
.wpcf7-form textarea:focus, .wpcf7-form p input:focus {
  border: 1px solid #7ac3c2;
}
/*Sldier 3d*/
#carousel-right:hover i, #carousel-left:hover i {
  color: #7ac3c2;
}
.tracker-individual-container li:hover div, .tracker-individual-container .tracker-individual-blip-selected div {
  background-color: #7ac3c2 !important;
}
.tracker-individual-container li:hover, .tracker-individual-container .tracker-individual-blip-selected {
  border: 1px solid #7ac3c2;
}
.carousel-feature.active {
  border: 10px solid #7ac3c2;
}
.box-collection {
  border: 5px solid #7ac3c2;
}
/*Sidebar*/
.sidebar .widget li:hover a {
  color: #7ac3c2;
}
.gelli-recent-posts .item-news .txt a:hover, .gelli-recent-posts .item-news .txt span {
  color: #7ac3c2;
}
.widget.widget_tag_cloud a:hover, .widget.widget_product_tag_cloud a:hover, .tags-share a:hover {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:hover {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
/*Blog*/
.item-blog .post-meta p.post-date {
  background: #7ac3c2;
}
.read-more {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
.page_navigation li:hover, .page_navigation .active {
  background: #7ac3c2;
  border-color: #7ac3c2;
}
.item-blog a:hover h2, .item-blog .post-meta .gelli_p_mt a:hover {
  color: #7ac3c2;
}
.woocommerce .site-content a.button {
  color: #7ac3c2;
}
.archive article.product .price span, .archive del {
  color: #7ac3c2;
}
.active article.product .item-product, article.product .item-product:hover {
  border-color: #7ac3c2;
}
.archive .product-img, .archive .btn-share, .archive .btn-cart-in, .list-btn-share .btn-share, .related-gird-1 .btn-cart-in, .sidebar .side-featured article.product:hover .product-img {
  border-color: #7ac3c2;
}
.archive .btn-share a i, .woocommerce.archive a.button, a.clear-all:hover, .lt-show .custom_select .select_title, .list-view-as li .active i, .list-btn-share .btn-share a i {
  color: #7ac3c2;
}
.archive .btn-share:hover .add-to, .archive .btn-share:hover > div, .archive .btn-share:hover a, .archive .btn-cart-in:hover .btn-cart-in1 {
  background-color: #7ac3c2;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: #7ac3c2;
  color: #fff;
}
.woocommerce .woocommerce-pagination ul.page-numbers li:hover, .woocommerce-page .woocommerce-pagination ul.page-numbers li:active {
  border-color: #7ac3c2;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:after, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .price_slider_amount .button:hover, body.woocommerce .yith-woocompare-widget a.compare:hover, .list .btn-cart span, .related-gird-1 .btn-cart span, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce span.onsale, .woocommerce-cart .cart th {
  background-color: #7ac3c2;
}
.product-shop .price .amount, .product-shop .price .woocommerce-Price-currencySymbol, .woocommerce .quantity .qty, .share-links ul li:hover a i {
  color: #7ac3c2;
}
.share-links ul li:hover a i, .add_review:hover, .archive.woocommerce .widget_layered_nav ul li.chosen a:before, .archive.woocommerce .widget_layered_nav ul li.chosen a, .archive.woocommerce .widget_layered_nav ul li.chosen .count, .archive.woocommerce .widget_layered_nav ul li.chosen .count:after, .archive.woocommerce .widget_layered_nav ul li.chosen .count:before, .woocommerce div.product span.price ins, span.price, .archive.woocommerce .widget_layered_nav ul li:hover .count, .archive.woocommerce .widget_layered_nav ul li:hover:before, .archive.woocommerce .widget_layered_nav ul li:hover:after, .woocommerce a.remove:hover i, .woocommerce-cart .product-name:hover a {
  color: #7ac3c2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-bottom: 1px solid #7ac3c2;
}
.slide-product-thumb .beans-stepslider .slick-arrow:hover {
  border-color: #7ac3c2;
}
.slide-product-thumb .beans-stepslider .slick-arrow:hover i, .woocommerce form .form-row .required {
  color: #7ac3c2;
}
.woocommerce .quantity button:hover i, .woocommerce-info::before {
  color: #7ac3c2;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-cart .btn-continue:hover, .woocommerce-cart .btn:active, .woocommerce-cart .woocommerce table.cart a.button:hover, .woocommerce-cart table.cart tfoot input:hover, .woocommerce input[type="submit"]:hover, .woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_orde:hover {
  background-color: #7ac3c2;
}
.single_add_to_cart_button i, .woocommerce-message:before, .woocommerce-error:before {
  color: #7ac3c2;
}
/*Single Post*/
.post-author-box .img-author {
  border-color: #7ac3c2;
}
.comment .hoder strong, .contact-right li .form-contact-content a span.text:hover {
  color: #7ac3c2;
}
/*Countdown*/
.countdonw-time #countdown span {
  color: #7ac3c2;
}
.gelli-countdown .conect-us ul li:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background: #7ac3c2;
}
.btcart div.eft-hover {
  border-color: #7ac3c2;
}
.btcart div.eft-hover a:before {
  color: #7ac3c2;
}
.btcart div.eft-hover div {
  background: #7ac3c2;
}
/*Page title*/
.search .page-title span {
  color: #7ac3c2;
}
.footer .widget_nav_menu ul li:before, .footer-info-v1 .links li a:before {
  background-color: #7ac3c2;
}
.footer-info-v1 .links li:hover a span.text {
  color: #7ac3c2;
}
body table.compare-list .product-desc td span {
  color: #7ac3c2;
}
.woocommerce .yith-woocompare-widget a.remove {
  color: #7ac3c2 !important;
}
.yith-woocompare-widget ul.products-list a.remove:hover, .btn-cal:hover {
  background-color: #7ac3c2;
}
.stars a:hover, .stars a:focus, .stars a:active {
  color: #7ac3c2;
}
.woocommerce .star-rating span:before {
  color: #7ac3c2;
}
.woocommerce #review_form #respond .form-submit input:hover {
  background-color: #7ac3c2;
}
.slide-product-thumb .beans-slide .zoom:hover {
  border-color: #7ac3c2;
}
textarea:focus, input:focus, .search-form input.search-field:focus, .woocommerce #review_form #respond textarea:focus {
  border-color: #7ac3c2;
}
.archive .list .btn-cart span {
  color: #7ac3c2;
  border-color: #7ac3c2;
}
body .related-gird-1 .btn-cart span {
  color: #7ac3c2;
  border-color: #7ac3c2;
}
.archive .list .btn-cart:hover span, .archive .list .btn-cart:hover .btn-cart-in1, .related-gird-1 .btn-cart:hover span, .related-gird-1 .btn-cart:hover .btn-cart-in1 {
  background-color: #7ac3c2;
}
.share-social a:hover i, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
  color: #7ac3c2;
}
.comment-reply-link:hover, .comment-form p.form-submit input:hover {
  background: #7ac3c2;
}
.post-author-box .dsc-author .author-social a:hover {
  background: #7ac3c2;
}
.icon-social li:hover {
  border-color: #7ac3c2;
}
.icon-social li:hover a {
  background: #7ac3c2;
}
.blog .read-more:hover, .comment-form p.form-submit input:hover, .wpcf7-form p input[type="submit"]:hover, .woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover {
  background: #7ac3c2;
  border-color: #7ac3c2;
}
.comment-form p.form-submit input, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .woocommerce input[type="submit"], .woocommerce-cart .woocommerce .wc-proceed-to-checkout a.checkout-button {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
.section-summer .wpb_text_column h2 {
  color: #7ac3c2;
}
.woocommerce .woocommerce-ordering select, .woocommerce .woocommerce-ordering select option[selected] {
  color: #7ac3c2;
}
/*style list category*/
.list .add-cart-lt-1:before {
  color: #7ac3c2;
}
.list .add-cart-lt {
  border-color: #7ac3c2;
}
.woocommerce p.stars.selected a.active:before, .woocommerce p.stars:hover a:before {
  color: #7ac3c2;
}
.gelli_header_sidebar .main-navigation .nav-menu a:hover {
  color: #7ac3c2;
}
.btn-cart-in-list:hover .btn-cart-in1-list, .btn-cart-in-list:hover .add-cart-lt-1 {
  background: #7ac3c2;
}
.btn-cart-list .btn-cart-list span, article.product h2 a:hover {
  color: #7ac3c2;
}
table.compare-list .stock td span {
  color: #7ac3c2;
}
.woocommerce-wishlist table tr td a:hover, .woocommerce.woocommerce-wishlist .wishlist_table td.product-add-to-cart a:hover, .woocommerce a.remove:hover i {
  color: #7ac3c2;
}
.woocommerce-wishlist .cart th {
  background-color: #7ac3c2;
}
.box-button .box1:hover a {
  border-color: #7ac3c2;
  color: #7ac3c2;
}
.box-button .box1:hover a, .box-collection a i, .box-collection h3, .box-collection span {
  color: #7ac3c2;
}
.icon-withborder:hover div.icon {
  border-color: #7ac3c2;
}
.access-box-top .txt a:hover a::after {
  color: #7ac3c2;
}
.ms-bullet.ms-bullet-selected, .ms-bullet:hover {
  border-color: #7ac3c2;
}
.site-header .gelli-cart .remove {
  color: #7ac3c2 !important;
}
ul.wcml_currency_switcher li:hover {
  background-color: #7ac3c2 !important;
}
@media (max-width: 767px) {
  article.product .item-product {
    border-color: #7ac3c2;
  }
}
@media (max-width: 767px) {
  .dailydeals-product .product.settime .settime-box:after, .dailydeals-product .product .settime .settime-box:before, .dailydeals-product .active .product .settime .settime-box:after, .dailydeals-product .active .product .settime .settime-box:before, .dailydeals-product .product .settime .settime-box:after, .dailydeals-product .product .settime .settime-box:before, .dailydeals-product .active .product .settime .settime-box:after, .dailydeals-product .active .product .settime .settime-box:before {
    border-color: #7ac3c2;
  }
}
.section-summer .wpb_text_column h3 {
  color: #7ac3c2;
}
.order_details thead tr {
  background-color: #7ac3c2;
}
.woocommerce form .form-row.woocommerce-invalid label {
  color: #7ac3c2;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
  border-color: #7ac3c2;
}
.woocommerce.archive .gelli-cart .buttons a:hover {
  color: #7ac3c2;
}
.filter-products.layout2 #work-filter li.active:before {
  background-color: #7ac3c2;
}
.filter-products.layout2 .btn-cart-in:hover .btn-cart-in1 a:before, .filter-products.layout2 .btn-share:hover a i, .slide-product.layout2 .btn-cart-in:hover .btn-cart-in1 a:before, .slide-product.layout2 .btn-share:hover a i {
  color: #7ac3c2 !important;
}
.header-v7 .logo h1.site-title {
  color: #7ac3c2;
}
.main-menu6 .close6 {
  color: #7ac3c2;
}
.masonry_loadmore:hover i, .masonry_loadmore:hover {
  color: #7ac3c2;
}
.masonry_loadmore, .masonry_loadmore:hover {
  border-color: #7ac3c2;
}
.masonry_loadmore {
  background: #7ac3c2;
}
.footer.footer-v4 .logo span.site-title {
  color: #7ac3c2;
}
.instagram-slide .beans-slide a {
  background: #7ac3c2;
}
.blog-single .layout2 .read-more:hover, .blog-single .layout1 .read-more:hover {
  background: #7ac3c2;
}
.blog-single .post-categories:before {
  background: #7ac3c2;
}
.view-now:hover {
  color: #7ac3c2;
  border-color: #7ac3c2;
}
.view-now:hover i {
  color: #7ac3c2;
}
.img-box .bg-hover {
  background: #7ac3c2;
}
.blog-single .layout3:hover {
  background: #7ac3c2;
}
.social-hover {
  background: #7ac3c2;
}
.gelli-box-5:hover .absolute {
  background: #7ac3c2;
  opacity: 0.7;
}
.gelli-box-5 .more-link {
  background: #7ac3c2;
}
.gelli-box-5:hover .more-link i, .gelli-box-5:hover .more-link {
  color: #7ac3c2;
}
.header-v8 .top-bar i {
  color: #7ac3c2;
}
.header-v8 .gelli-cart button {
  background: #7ac3c2;
}
.header-v8 .top-bar a:hover {
  color: #7ac3c2;
}
.gelli-product-category .list-subcat li a:hover {
  color: #7ac3c2;
}
