<!--<footer class="footer">
    <div class="footer-overlay">
        <div class="container">
            <div class="row" *ngIf="!isDisabled('/checkout')">
                <div class="col m3 s12">
                    <div class="footer-heading">
                        <img class="img-responsive" src="public/img/footer-logo.png">             
                        <span class="sapreter"></span>
                    </div>
                    <ul class="footer-link">
                        <li *ngFor="let cmspage1 of cmspages1"><a [routerLink]="['./page',cmspage1['slug']]">{{cmspage1["title"]}}</a></li>

                                  </ul>
                </div>
                <div class="col m3 s12">
                    <div class="footer-heading">
                        <h4>WHY BUY FROM US</h4>       
                        <span class="sapreter"></span>
                    </div>
                    <ul class="footer-link">
                        <li *ngFor="let cmspage2 of cmspages2"><a [routerLink]="['./page',cmspage2['slug']]">{{cmspage2["title"]}}</a></li>
              
                    </ul>
                </div>
                <div class="col m3 s12">
                    <div class="footer-heading">
                        <h4>MY ACCOUNT</h4>       
                        <span class="sapreter"></span>
                    </div>   
                    <ul class="footer-link">
                        <li *ngIf="!isLoggedIn()"><a href="#modal1">Sign In</a></li>
                        <li *ngIf="isLoggedIn()"><a [routerLink]="['./myaccount', 'profile']">My Account</a></li>

                        <li><a [routerLink]="['./wishlist']">Wish List</a></li>
                        <li><a [routerLink]="['./cart']">View Cart</a></li>
                        <li><a [routerLink]="['./myaccount', 'order']">Track My Order</a></li>
                                                                   <li><a href="#">Help</a></li> 
                        <li><a [routerLink]="['./faq']">Faq</a></li> 

                        <li *ngFor="let cmspage3 of cmspages3"><a [routerLink]="['./page',cmspage3['slug']]">{{cmspage3["title"]}}</a></li>
                    </ul>
                    <div class="social-box">
                        <ul>
                            <li><a href="{{settings['CONFIG_FACEBOOK_LINK']}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="{{settings['CONFIG_TWITTER_LINK']}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>                                       
                            <li><a href="{{settings['CONFIG_GOOGLE_PLUS_LINK']}}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="{{settings['CONFIG_PINTEREST_LINK']}}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>                                       
                        </ul>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="footer-heading">
                        <h4>NEWSLETTER</h4>       
                        <span class="sapreter"></span>
                    </div>
                    <div class="news-bx">
                    <form  name="newsletter" id="newsletters" (ngSubmit)="newsletter.form.valid && newslattersaved()"  #newsletter="ngForm" novalidate>
                        <div class="input-field">          
                            <input id="search" placeholder="Your Email Address" type="search" name='email_news' [(ngModel)]="newslatter.email_news" #email_news="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <button class="waves-effect fabivo-btn btn" type="submit">Subscribe</button>
                        </div>
                                  <div *ngIf="newsletter.submitted && email_news.errors && email_news.errors.required" class="help-block err-msg">The email field is required.</div>
                            <div *ngIf="newsletter.submitted && email_news.errors && email_news.errors.pattern" class="help-block err-msg"> Email is invalid.</div>

                </form>
                    </div>
                    <div class="store-bx">
                        <h4>DOWNLOAD THE APP</h4>
                        <a class="aap-store waves-effect waves-light" href="{{settings['CONFIG_IOS_APP_LINK']}}" target="_blank"></a>
                        <a class="play-store waves-effect waves-light" href="{{settings['CONFIG_ANDROID_APP_LINK']}}" target="_blank"></a>               </div>
                </div>   

                <div class="col m12 s12 footer-mobile center-align">
                    <ul>
                        <li><a [routerLink]="['./faq']">Faq</a></li>
                        <li><a [routerLink]="['./page','shipping-return']">Shipping & Return</a></li>
                        <li><a [routerLink]="['./page','help']">Help</a></li>
                        <li><a [routerLink]="['./page','privacy-policy']">Privacy Policy</a></li>
                    </ul>
                </div> 

                <div class="col m12 s12">
                    <span class="footer-sapreter"></span>
                </div> 
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="copyright">
                        <div class="col m6 s12 col-1">
                            <a [routerLink]="['/']" [innerHTML]="settings['CONFIG_COPYRIGHT']"></a>
                        </div>
                        <div class="col m6  s12 right col-2">
                            <ul>
                                <li><a class="card-n card-1" href="javascript:void(0);"></a></li>
                                <li><a class="card-n card-2" href="javascript:void(0);"></a></li>
                                <li><a class="card-n card-3" href="javascript:void(0);"></a></li>
                                <li><a class="card-n card-4" href="javascript:void(0);"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</footer>-->


<footer class="footer">
  <div class="footer-overlay">
    <div class="container">
      <div class="row" *ngIf="!isDisabled('/checkout')">
           
        <div class="col m3 s12">
          <div class="footer-heading"> 
                <img class="img-responsive" src="public/img/logo_footer.png" alt=""> 
                <span class="sapreter"></span>
                <ul class="footer-link">
                    <li *ngFor="let cmspage2 of cmspages2"><a [routerLink]="['./page',cmspage2['slug']]">{{cmspage2["title"]}}</a></li>
                </ul>
          </div>
          <div class="social-box">
            <ul>
                  <li><a href="{{settings['CONFIG_FACEBOOK_LINK']}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="{{settings['CONFIG_TWITTER_LINK']}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>                                       
                  <li><a href="{{settings['CONFIG_GOOGLE_PLUS_LINK']}}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="{{settings['CONFIG_PINTEREST_LINK']}}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>                                       
              </ul>
          </div>
        </div>
           
        <div class="col m3 s12 foot-link">
          <div class="footer-heading">
            <h4>MY ACOUNT</h4>
            <span class="sapreter"></span> </div>
            <ul class="footer-link">
                <li *ngIf="!isLoggedIn()"><a href="#modal1">Sign In</a></li>
                <li *ngIf="isLoggedIn()"><a [routerLink]="['./myaccount', 'profile']">My Account</a></li>

                <li><a [routerLink]="['./wishlist']">Wish List</a></li>
                <li><a [routerLink]="['./cart']">View Cart</a></li>
                <li><a [routerLink]="['./myaccount', 'order']">Track My Order</a></li>
                <li><a href="#">Help</a></li> 
                <li><a [routerLink]="['./faq']">Faq</a></li> 

                <li *ngFor="let cmspage3 of cmspages3"><a [routerLink]="['./page',cmspage3['slug']]">{{cmspage3["title"]}}</a></li>
            </ul>
        </div>
           
        <div class="col m3 s12 foot-link">
          <div class="footer-heading">
            <h4>INFORMATION</h4>
            <span class="sapreter"></span> </div>
            <ul class="footer-link">
                <li *ngFor="let cmspage1 of cmspages1"><a [routerLink]="['./page',cmspage1['slug']]">{{cmspage1["title"]}}</a></li>
            </ul>
        </div>
           
        <div class="col m3 s12 foot-link">
          <div class="footer-heading">
            <h4>CONTACT US</h4>
            <span class="sapreter"></span> </div>
          <div class="addrs">
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae interdum orci, at mattis erat.</p>-->
            <ul>
                <li><i class="fa fa-paper-plane" aria-hidden="true"></i> <span [innerHTML]="settings['CONFIG_ADDRESS']"></span></li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i> <span [innerHTML]="settings['CONFIG_SUPPORT_MAIL']"></span></li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> <span [innerHTML]="settings['CONFIG_PHONE_NUMBER']"></span></li>
            </ul>
          </div>
        </div>
           
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="copyright">
            <div class="col m6 s12 col-1"> 
                <a [routerLink]="['/']" [innerHTML]="settings['CONFIG_COPYRIGHT']"></a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>