<section class="cart-section">
    <div class="container">
        <div class="row" *ngIf="cart_length && cart_length > 0">
            <div class="col m7 s12">
                <div class="cart-product-info-bx">    
                  
                    <div class="cart-product-info" *ngFor="let cart_data of carts['products']; let i = index">
                        <div class="row">
                            <div class="col s5">
                                <div class="cart-product-img">
                                    <a [routerLink]="['../product',cart_data['product']['slug']]">
                                        <img class="responsive-img" src="{{cart_data['product']['image']}}"/>
                                    </a>
                                  
                                    <div class="cart-remove">
                                        <a *ngIf="cartService.wishlistArray.indexOf(cart_data['product_id']) > -1"  href="javascript:void(0);"   ><i  class="fa fa-heart" aria-hidden="true" (click)="cartService.removeToWishlist(cart_data['product_id'])"></i></a> 
                                        <a *ngIf="cartService.wishlistArray.indexOf(cart_data['product_id']) ==-1" href="javascript:void(0);"  ><i class="fa fa-heart-o" aria-hidden="true" (click)="cartService.addToWishlist(cart_data['product_id'])" ></i></a>
                                        <a href="javascript:void(0);"><i class="fa fa-times" (click)="removeCart(cart_data['id'])" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s7">
                                <div class="cart-details">
                                    <a [routerLink]="['../product',cart_data['product']['slug']]">
                                        <h5>{{cart_data['product']['title']}}</h5>
                                    </a>
                                    <div class="size-qty">
                                        <div class="left">
                                            <div class="heading left">Qty:</div>
                                            <div class="input-field left">
                                                <select id="quantity_{{cart_data['id']}}" [(ngModel)]="cart_data['quantity']" #quantity (change)="changeCart(cart_data['id'], size.value, cart_data['user_id'], cart_data['product_id'], quantity.value, 'quantity')">
                                                    <option value=1>1</option>
                                                    <option value=2>2</option>
                                                    <option value=3>3</option>
                                                    <option value=4>4</option>
                                                    <option value=5>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="heading left">Size:</div>
                                            <div class="input-field left">
                                                <select  id="size_{{cart_data['id']}}" class=""  [(ngModel)]="cart_data['product_size']" #size (change)="changeCart(cart_data['id'], size.value, cart_data['user_id'], cart_data['product_id'], quantity.value, 'size')">
<!--                                                    <option [value]="i" *ngFor="let i of sizes">{{i}}</option>-->
                                                     <option *ngFor="let size of cart_data['product']['size']" [value]="size.slug" >{{size.name }}</option>
                                                </select>
                                                                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>  
                                    
                                    <h6><span class="heading">Price:</span><span class="heading" [innerHTML]="cart_data['product']['price']"></span></h6>
                                    <p *ngIf="cart_data['in_stock']==0" class="failed">Out of stock</p>
                                    <p *ngIf="cart_data['in_stock']==1 && cart_data['stock'] < cart_data['quantity']" class="failed">Only {{cart_data['stock']}} item is in stock</p>

           
                                </div> 
                            </div>
                        </div>



          
                    </div>
                    
                </div> 
                <div class="cart-itam">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    {{cart_length}} item in your shopping bag
                </div>
            </div>
            <div class=" col m5 s12">
                <div class="cart-product-prize">
                    <div class="code">
                        <div class="input-field left">
                            <input  [disabled]="coupen_code_apply || carts['stock_error'] == 1  " id="search" [(ngModel)]="coupan_code" placeholder="Enter Voucher Code" required="" type="search">        
                        </div>
                        <a *ngIf="!coupen_code_apply" class="waves-effect btn fabivo-btn-3 right" [attr.disabled]="carts['stock_error'] == 1 ? true:null"  (click)="checkCoupanCode()">Check</a>
                        <a *ngIf="coupen_code_apply" class="waves-effect btn fabivo-btn-3 right" (click)="RemoveCoupanCode()">Remove</a>
                        <div class="clearfix"></div>   
                        <div class="help-block err-msg"  *ngIf="coupen_error_status" [innerHTML]="coupen_error"></div>
                        <div class="success-msg"  *ngIf="coupen_code_apply">{{coupen_massage}}</div>
                    </div>
                    <div class="pay-details" *ngIf="carts['enable_cashback']"  >
                        <h5>Cashback Summary</h5>
                        <span class="left">{{carts['coupon_code']}}</span>
                        <span class="right" [innerHTML]="carts['cash_back_amount']" ></span>
                        <div class="clearfix"></div>
                        <p [innerHTML]="carts['coupon_description']  | sanitizeHtml" ></p>
                    </div>
                    <span class="border"></span>
                    <div class="pay-details">
                        <h5>Summary</h5>
                        <span class="left">Sub Total</span>
                        <span class="right" [innerHTML]="carts['total_price'] ? carts['total_price'] : 0"></span>
                        <div class="clearfix"></div>
                            <div *ngIf="carts['enable_shipping_charge']">
                            
                                    
                            <span class="left">Shipping</span>
                            <span class="right" [innerHTML]="carts['shipping_charge']"></span>
                            <div class="clearfix"></div>
                            
                        </div>
                        <div *ngIf="carts['enable_tax']">
                        <div  *ngFor="let tax of carts['tax']">
                                
                        <span class="left">{{tax['name']}}</span>
                        <span class="right" [innerHTML]="tax['amount']"></span>
                        <div class="clearfix"></div>
                        </div>
                        </div>
                        <div *ngIf="carts['enable_discount']">
                            
                                    
                            <span class="left">Discount</span>
                            <span class="right" [innerHTML]="carts['discount']"></span>
                            <div class="clearfix"></div>
                            
                        </div>

                        <!--                                     <span class="left">Sub Total</span>
                                                             <span class="right">&#x20B9; -100</span>
                                                             <div class="clearfix"></div>-->
                    </div>
                    <span class="border"></span>
                    <div class="net-details">
                        <h5 class="left">Payable Amount</h5><span class="right" [innerHTML]="carts['payble_amount'] ? carts['payble_amount'] : 0"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="pay-option">
                    <a class="waves-effect fabivo-btn btn" (click)="checkout()"  [attr.disabled]="carts['stock_error'] == 1 ? true:null" >Place  order</a>
                    <ul>
                        <li><a class="card-n card-1" href="javascript:void(0);"></a></li>
                        <li><a class="card-n card-2" href="javascript:void(0);"></a></li>
                        <li><a class="card-n card-3" href="javascript:void(0);"></a></li>
                        <li><a class="card-n card-4" href="javascript:void(0);"></a></li>
                        <div class="clearfix"></div>
                    </ul>  
                </div>                         
            </div>
        </div>
        
        <div class="row" *ngIf="!cart_length || cart_length === 0">
            <div class="col m12 s12">
                <div class="cart-itam">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    No item in your shopping bag.
                    <a class="waves-effect fabivo-btn btn" [routerLink]="['/']">
                        CONTINUE SHOPPING
                    </a>
                </div>
            </div>
        </div>
    </div>              
</section> 